<ion-content>
  <ng-container *ngIf="notificationList$ | async as notificationList">
    <div style="height: 100px">
      <ion-list *ngIf="notificationList.length > 0; else noNotifications">
        <ion-item *ngFor="let item of notificationList; let index = index">
          <ion-label>{{ item.notification.body }}</ion-label>
        </ion-item>
      </ion-list>
      <ng-template #noNotifications>
        <p>No notifications received</p>
      </ng-template>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
