<app-navbar></app-navbar>
<ion-content>
  <div class="spinner" *ngIf="showSpinner" style="margin-top: 200px">
    <ion-spinner></ion-spinner>
  </div>
  <ng-container *ngIf="seller$ | async as seller">
    <div *ngIf="!showSpinner">
      <div class="details-container">
        <div class="image-container">
          <img alt="image" class="image" src="{{ seller.logo }}" />
        </div>
        <div class="seller-info-container">
          <div class="titleverified-container">
            <div class="seller-info">
              <h2 class="title">{{ seller.business_name }}</h2>
            </div>
            <div class="verified">
              <img
                alt="image"
                class="verified-image"
                style="width: 20px; height: 20px; padding: 0px; margin: 0px"
                src="\assets\images\verified.png" />
            </div>
          </div>

          <div class="button-container">
            <ion-button expand="block" (click)="updateButtonState()">
              {{ (isFollowed | async) ? 'Unfollow' : 'Follow' }}
            </ion-button>
            <a href="{{ seller.website }}" target="_blank" rel="noopener">
              <ion-button expand="block">Visit Page</ion-button>
            </a>
          </div>
          <mat-divider class="divider"></mat-divider>
          <div class="description-container">
            <div class="contact-container">
              <h3 class="title">Contact Us</h3>
              <div class="contact">
                <p class="email-text">{{ seller.support_email }}<br /></p>
                <p class="number-text">{{ seller.landline_number }}<br /></p>
              </div>
            </div>
            <div class="address-container">
              <h3 class="title">Address</h3>
              <div class="address">
                <p class="address-text">{{ seller.address }}<br /></p>
                <p class="city-text">{{ seller.city }}<br /></p>
                <p class="postal-code">{{ seller.postal_code }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-divider class="divider2"></mat-divider>

      <div class="social-container">
        <a href="{{ seller.facebook_link }}" target="_blank" rel="noopener">
          <img
            alt="image"
            class="facebook-image"
            style="width: 60px; height: 60px; padding: 10px; margin: 0px"
            src="\assets\images\facebook.png" />
        </a>
        <a href="{{ seller.twitter_link }}" target="_blank" rel="noopener">
          <img
            alt="image"
            class="twitter-image"
            style="width: 60px; height: 60px; padding: 10px; margin: 0px"
            src="\assets\images\twitter.png" />
        </a>
        <a href="{{ seller.instagram_link }}" target="_blank" rel="noopener">
          <img
            alt="image"
            class="instagram-image"
            style="width: 60px; height: 60px; padding: 10px; margin: 0px"
            src="\assets\images\instagram.png" />
        </a>
      </div>

      <div class="products-container">
        <h2 class="Ptitle">Products</h2>
        <div class="search-sort">
          <ion-searchbar
            class="search-box"
            placeholder="Search products..."
            type="search"
            mode="md"
            [(ngModel)]="searchQuery"
            [debounce]="2000"
            (ionInput)="onSearchInputChange()"
            (ionInput)="onSearch()"></ion-searchbar>

          <div class="sort-condition">
            <select
              name=""
              id="select"
              [(ngModel)]="selectedSortOption"
              (ngModelChange)="onSortOptionChange()">
              <option value="name">Name (A-Z)</option>
              <option value="-name">Name (Z-A)</option>
              <option value="price">Low to high</option>
              <option value="-price">High to low</option>
              <option value="discount">Lowest Discount</option>
              <option value="-discount">Highest Discount</option>
            </select>
          </div>
        </div>
        <div class="filter-menu">
          <div
            *ngFor="let category of categories"
            class="category-bubble"
            (click)="onFilterOptionChange('filter_category', category)"
            [ngClass]="{ selected: isCategorySelected(category) }"
            id="category-{{ category }}">
            {{ category }}
          </div>
        </div>
        <mat-divider class="divider3"></mat-divider>
        <div class="product-card">
          <!--<div
          style="display: flex; justify-content: center; align-items: center"
          *ngIf="(searchResults$ | async) === null">
          <mat-spinner></mat-spinner>
        </div>-->
          <div class="spinner" *ngIf="showSpinner">
            <ion-spinner></ion-spinner>
          </div>

          <div *ngIf="!showSpinner">
            <ng-container *ngIf="searchResults$ | async as products">
              <div>
                <ion-grid>
                  <ion-row>
                    <ng-container
                      *ngFor="let product of products; let i = index">
                      <ion-col
                        size-xl="3"
                        size-lg="4"
                        size-md="6"
                        size-sm="6"
                        size-xs="12"
                        size="6"
                        style="margin-top: 20px">
                        <app-product-card
                          [product]="{
                            min_price_discount_rate: product.discount_rate,
                            min_price_img_array: product.img_array,
                            name: product.product_name,
                            min_price: product.price,
                            category: product.product_category,
                            id: product.product,
                            min_price_seller_business_name:
                              product.business_name
                          }"></app-product-card>
                      </ion-col>
                    </ng-container>
                  </ion-row>
                </ion-grid>
              </div>
            </ng-container>
          </div>

          <div class="mat-paginator">
            <ng-container *ngIf="searchResults$ | async as products">
              <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <app-footer></app-footer>
</ion-content>
