.details-container{
    display: flex;
}

.image{
    width: 290px;
    height: 250px;
}

.image-container{
    padding: 10px;
    width: 300px;
    height: 265px;
}

.seller-info-container{
    align-items: center;
    display: inline;
}

.seller-info{
    margin-left:1.5rem;
}

.divider{
    width: 80rem;
}

.button-container{
    display: flex;
    align-items: center;
    margin-left:65rem;
}

.titleverified-container{
    display: flex;
    align-items: center;
}

.description-container{
    display: flex;
    margin-left: 1.5rem;
}

.address-container{
    display: flex;
    margin-left: 8rem;
}

app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}