<div class="modal-container">
  <ion-item lines="none" class="modal-header-item">
    <ion-text class="modal-header"> Add to Collections </ion-text>
    <ion-button
      class="close-button"
      fill="clear"
      shape="round"
      mode="ios"
      slot="end"
      (click)="closePopover()">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="content-container" *ngIf="combos$">
    <ng-container *ngIf="!newClicked; else new">
      <form [formGroup]="selectForm">
        <!-- Wrap form elements in a formGroup -->
        <ion-item class="item-padding" lines="none">
          <ion-select
            multiple="true"
            interface="popover"
            formControlName="selectedOptions"
            label="Select Collections"
            label-placement="floating"
            fill="outline"
            class="custom-select">
            <ion-select-option value="wishlist"> Wishlist</ion-select-option>
            <ng-container *ngFor="let combo of combos$ | async">
              <ion-select-option value="{{ combo.id }}">{{
                combo.name
              }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
        <ion-item class="item-padding" lines="none">
          <ion-button mode="ios" color="primary" (click)="newClick()">
            New Collection
          </ion-button>
          <ion-button
            mode="ios"
            color="primary"
            (click)="UpdateExistingCombo()">
            Done
          </ion-button>
        </ion-item>
      </form>
    </ng-container>

    <ng-template #new>
      <form [formGroup]="newForm">
        <!-- Wrap form elements in a formGroup -->
        <ion-list class="newList">
          <ion-item class="input">
            <ion-label position="floating">Name:</ion-label>
            <ion-input formControlName="newName" clearInput></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-label position="floating">Add Emails:</ion-label>
            <ion-input
              formControlName="newEmails"
              clearInput
              (keyup.enter)="addEmailToArray()"></ion-input>
            <ion-button slot="end">
              <ion-icon
                name="add"
                (click)="addEmailToArray()"
                style="cursor: pointer; pointer-events: auto"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="addEmails?.length !== 0" class="email">
            <ion-list>
              <div *ngFor="let email of addEmails">
                <ion-item class="email">
                  <ion-label class="emails">{{ email }}</ion-label>
                  <ion-icon
                    name="close-outline"
                    slot="end"
                    (click)="removeEmail(email)"
                    style="cursor: pointer; pointer-events: auto"></ion-icon>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
        </ion-list>
        <ion-button mode="ios" color="primary" (click)="createNewCombo()"
          >Create</ion-button
        >
      </form>
    </ng-template>
  </div>
</div>
