ion-modal {
  width: 100%;
  height: 50%;
  max-height: 50%; /* To ensure the modal doesn't exceed 50% of the viewport height */
  position: fixed;
  bottom: 0; /* Adjust as needed for modal placement */
  left: 0; /* Adjust as needed for modal placement */
  top: auto;
  right: auto;
  transform: none;
}

.modal-container {
  height: 100%;
  max-height: 100%; /* To ensure the modal doesn't exceed 100% of the viewport height */
  width: 100%;
}
/* Set a maximum height for the modal's content */
ion-modal .modal-wrapper {
  height: 50%;
  max-height: 50vh; /* Adjust as needed */
}

  
  .modal-container ion-item {
    font-size: medium;
    font-weight: 500;
    --inner-padding-bottom: 0;
    --inner-padding-top: 0;
  }
  
  .modal-header {
    margin-top: 2px;
    font-weight: 500;
    font-size: large;
  }
  .modal-header-item {
    --inner-padding-end: 0px;
    --inner-padding-bottom: 10px !important;
  }
  .close-button {
    --color: var(--ion-color-clear-button);
  }
  .item-padding {
    --padding-end: 0.6rem;
    --inner-padding-start: 0.5rem;
  }
  .item-content {
    width: 100%;
    max-width: 18rem;
    min-width: 10rem;
    max-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    align-items: center;
  }
  .item-label {
    width: 9rem;
  }
  ion-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    //   max-height: 19rem;
  }
  .item-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .item-button-spacer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  ion-button {
    min-width: auto;
    font-size: 14px;
  }

  .input-container {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px;
    border-radius: 5px;
    border-color: black;
  }
  ion-input {
    width: 100%;
    min-height: 32px !important;
    --padding-start: 0px;
    --padding-end: 0px;
  }
  

  
 .input {
  width: 80%;
 }