<ion-header>
    <ion-toolbar>
  
  <ion-title>Product Details</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-text>{{ product.product_name }}</ion-text>
      </ion-item>
      
      <ion-item>
        <ion-label>Inventory Status:</ion-label>
        <ion-text>{{ product.in_stock }}</ion-text>
      </ion-item>
  
      <!-- Display other product details -->
    </ion-list>
  
    <div class="buttons">
      <ion-button (click)="editProduct()">Edit</ion-button>
      <ion-button (click)="deleteProduct()">Delete</ion-button>
    </div>
  </ion-content>
  