<app-navbar></app-navbar>
<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <!--<div class="container">-->
    <div class="side-nav-container" *ngIf="profile$ | async as profile">
      <app-customer-profile-sidenav [profile]="{ username: profile.username }">
      </app-customer-profile-sidenav>
    </div>

    <div class="settings-container" *ngIf="profile$ | async as profile">
      <h2>Settings</h2>
      <div class="general-settings-container">
        <h5>Personal information</h5>
        <form [formGroup]="customerprofileForm" (ngSubmit)="onSubmit()">
          <ion-input
            type="text"
            label="Username"
            labelPlacement="floating"
            fill="outline"
            formControlName="username"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="First Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="first_name"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="Last Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="last_name"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="Phone Number"
            labelPlacement="floating"
            fill="outline"
            formControlName="phone_number"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="Address"
            labelPlacement="floating"
            fill="outline"
            formControlName="address"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="City"
            labelPlacement="floating"
            fill="outline"
            formControlName="city"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-input
            type="text"
            label="Postal Code"
            labelPlacement="floating"
            fill="outline"
            formControlName="postal_code"
            required="true"
            (input)="onChange()"></ion-input>
          <ion-button type="submit" [disabled]="!isChanged">Submit</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
