<app-navbar></app-navbar>
<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <!--<div class="container">-->
    <div class="side-nav-container" *ngIf="profile$ | async as profile">
      <app-customer-profile-sidenav [profile]="{ username: profile.username }">
      </app-customer-profile-sidenav>
    </div>

    <div class="settings-container" *ngIf="profile$ | async as profile">
      <h2>Settings</h2>
      <div class="general-settings-container">
        <h5>Personal information</h5>
        <form [formGroup]="customerprofileForm" (ngSubmit)="onSubmit()">
          <ion-input
            type="text"
            label="Username"
            labelPlacement="floating"
            fill="outline"
            formControlName="username"
            required="true"
            (input)="onUsernameChange()"
            ></ion-input>
            

          <!-- <ion-input
                            type="email"
                            label="Email"
                            labelPlacement="floating"
                            fill="outline"
                            formControlName="email"
                            required="true"></ion-input> -->

          <ion-button type="submit" [disabled]="!isUsernameChanged">Submit</ion-button>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
