.settings-container{
    margin-left: 240px;
    margin-top: 55px;
}

.general-settings-container{
    box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 50px;
    width: 700px;
    margin-top: 30px;
}

ion-input{
    margin-top: 30px;
}

ion-button{
    margin-top: 30px;
    font-family: 'Poppins',sans-serif;
    height: 40px;
  --background: #37d0d6; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .settings-container{
        width: 95%;
        margin-left: 1rem;
    }

    .general-settings-container{
        width: 95%;
        padding: 20px;
    }
}