.settings-container{
    margin-left: 150px;
    margin-top: 50px;
}

.general-settings-container{
    box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 50px;
    width: 700px;
    margin-top: 30px;
}

ion-input{
    margin-top: 20px;
}

ion-button{
    margin-top: 20px;
}