<mat-toolbar color="primary">
  <a routerLink="/">
    <img
      class="navbar-logo"
      src="assets/images/logo.png"
      alt="e-Mall logo"
      width="70"
      height="60" />
  </a>
  <span class="flex-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">All Categories</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/construction">Expert Reviews</button>
    <button mat-menu-item routerLink="/construction">Sale</button>
    <button mat-menu-item routerLink="/construction">Guides</button>
    <button mat-menu-item routerLink="/construction">How to use</button>
    <button mat-menu-item routerLink="/construction">About Us</button>
  </mat-menu>
  <!-- <form class="form-inline flex-grow-1">
    <mat-form-field appearance="fill">
      <mat-label>Search Products</mat-label>
      <input matInput type="search" aria-label="Search" />
      <button mat-icon-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form> -->
  <span class="flex-spacer"></span>
  <button mat-button routerLink="/sign-in">Sign in</button>
</mat-toolbar>
