h2 {
  font-size: 300% !important;
}
.overlay-button {
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  z-index: 99;
  font-size: 150%;
  justify-self: flex-end;
}
.overlay-text {
  justify-self: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1%;
  text-align: center;
  font-size: 125%;
  font-family: Poppins, sans-serif;
}

ion-button {
  --background: transparent;
  color: white;
}

swiper-container {
  max-width: 400px;
  // width: 100%;
  // height: 100px;
}

swiper-slide {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.swiper-button-prev {
  left: 2rem;
  right: auto;
}

.swiper-button-next {
  right: 2rem;
  left: auto;
}

@media (min-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 1rem;
  }

  .swiper-button-prev {
    left: 10rem;
  }

  .swiper-button-next {
    right: 10rem;
  }
}

a {
  color: var(--ion-color-primary-shade);
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Space the items evenly along the row */
  padding: 2%;
  padding-bottom: 5%;
  flex-wrap: nowrap;
  margin: 0;
}

.product-card {
  flex: 0; /* Adjust the flex property to control width of each product card */
  padding: 0%;
  width: min-content;
  justify-self: center;
}
.row1 {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 45rem;
  flex-wrap: wrap;
}

.register-row {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.side-pannel {
  background-color: var(--ion-color-primary-alt);
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  display: block;
  justify-self: flex-start;
  justify-content: center;
  padding: 5%;
  h3 {
    font-size: 200%;
  }
}

.side-pannel2 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  justify-content: center;
  padding: 2%;
  padding-left: 5%;
  flex-wrap: wrap;
  .top-prod {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.welcome-header {
  color: var(--ion-color-text);
  margin-bottom: 2rem;
}
.welcome-header-accent {
  color: var(--ion-color-text-contrast);
}
.welcome-footer {
  font-size: 150% !important;

  color: var(--ion-color-text);
}

#logo {
  height: 14rem;
  width: auto;
  margin: auto;
}

.custom-carousel {
  display: flex;
  min-width: 95%;
  justify-content: center;
}

.carousel-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.register-container {
  display: flex;
  width: 75%;
  justify-self: center;
  background-color: var(--ion-color-primary-alt);
  border-radius: 12px;
  align-self: center;

  padding: 5%;
  text-align: center;
  justify-content: center;
}

.register-title {
  display: flex;
  width: 75%;
  justify-self: flex-start;
  text-align: center;
  justify-content: center;
  h2 {
    color: var(--ion-color-text);
    font-size: 150%;
    size: 150%;
  }
}
.register-btn {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  .overlay-button {
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    z-index: 99;
    font-size: 150%;
    justify-self: flex-end;
    height: fit-content;
  }
}

.side-container-left,
.side-container-right {
  min-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  background-color: var(--ion-color-primary);
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5%;
}

.side-container-left {
  background-color: var(--ion-color-primary);
  .prod-title {
    h2 {
      color: var(--ion-color-primary-alt);
    }
  }
}
.side-container-right {
  background-color: var(--ion-color-primary-alt);
  .prod-title {
    h2 {
      color: white;
    }
  }
}

.prod {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.prod-title {
  h2 {
    font-size: 200%;
    color: white;
  }
  height: min-content;
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {

 .side-pannel,.cat-container,.register-title, .register-btn{
  width: 100%;
 }
 .row1{
  height: auto;
 }
 .carousel-container,.custom-carousel, .row,.register-container{
  flex-wrap: wrap;
 }

 h2{
  font-size: 6vw !important;
 }
}

.cat-img {
  width: 180px;
  height: 250px;
  object-fit: cover; /* This will maintain the aspect ratio and crop the image to cover the specified dimensions */
  object-position: center center; /* This centers the image within the specified dimensions */
  align-items: center;
}
.cat-img:hover {
  filter: brightness(50%);
}
.cat-img-container {
  min-width: 180px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.cat-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 2%;
}

.cat-container.parents .subCategory {
  width: 25%;
  padding: 5px;
}

.subCategoriesContainer.parents .subCategoryCard {
  height: 200px !important;
}

.subCategoryCard {
  cursor: pointer;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 15px;
}

.subCategoriesContainer.parents .subCategoryCard .inner {
  font-size: 1.5rem !important;
}

.subCategoryCard .inner {
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  .cat-container.parents {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 600px){
.cat-container.parents {
    max-width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}}

@media (max-width: 768px){
.subCategory {
    width: 33%!important;
}}

@media (max-width: 600px){
.subCategory {
    width: 50%!important;
}}

.hoverZoom {
  transition: transform 0.5s;
}

@media (max-width: 600px){
.cat-container.parents .subCategoryCard .inner {
    font-size: 1.1rem!important;
}}