$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(124, 208, 211);
$color_type_2: rgb(169, 169, 169);
$color_type_3: rgb(209, 209, 209);
$color_type_4: rgb(21, 21, 21);
$color_type_5: rgb(247, 249, 249);
$color_type_6: rgb(55, 208, 214);
$color_type_7: rgb(87, 87, 87);
$color_type_8: rgb(193, 237, 233);

$padding_type_0: 0px;

$border_radius_type_0: 12px 12px 12px 12px;

$font_type_0: 600 50px/1.39 'Poppins', Helvetica, Arial, serif;
$font_type_1: 600 32px/1.39 'Poppins', Helvetica, Arial, serif;
$font_type_2: 700 15px/1.53 'Poppins', Helvetica, Arial, serif;
$font_type_3: 400 14px/1.35 'Open Sans', Helvetica, Arial, serif;
$font_type_4: 400 12px/1.33 'Open Sans', Helvetica, Arial, serif;
$font_type_5: 600 1em/1.39 'Poppins', Helvetica, Arial, serif;

h3 {
  font-size: 40px;
}

.carousel-caption {
  color: $color_type_4;
}

.banner {
  position: relative;
}

.image-container {
  position: relative;
}

.overlay-button {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  z-index: 99;
  font-size: 150%;
}

ion-button {
  --background: transparent;
  color: white;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.swiper-button-prev {
  left: 2rem;
  right: auto;
}

.swiper-button-next {
  right: 2rem;
  left: auto;
}

@media (min-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 1rem;
  }

  .swiper-button-prev {
    left: 10rem;
  }

  .swiper-button-next {
    right: 10rem;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


.cat-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5%;
  background-color: var(--ion-color-primary);
}
.cat-title {
  width: 40%;
  display: flex;
  justify-self: flex-start;
  justify-content: center;
}
.bubble-container{
  width: 60%;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.category-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-secondary); /*background color for the bubbles */
  color: #ffffff; /* text color to white */
  border-radius: 20px;
  padding: 8px 16px; /* Add padding to adjust the size of the bubble */
  margin: 8px; /* spacing between bubbles */
  cursor: pointer;
  white-space: nowrap; /* Prevent category text from wrapping to the next line #2c3e50 */
}

/* Hover effect */
.category-bubble:hover {
  background-color: #37d0d6;
}

.selected {
  background-color: #37d0d6; /* Apply your desired style for selected elements */
  /* Add any other styles you want for selected elements */
}