<app-navbar></app-navbar>
<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <div class="cat-container">
      <div class="bubble-container">
        <div
          *ngFor="let page of cat_pages"
          class="category-bubble"
          (click)="onCatClicked(page.path)">
          <div class="cat-img-container">
            <img
              class="cat-img"
              src="{{ page.img }}"
              alt="cat-img"
              (click)="onCatClicked(page.path)" />
            <div class="overlay-text">
              {{ page.title }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="this.authFacade.getCurrentUser() | async">
      <ng-container *ngIf="forYouProducts$ | async as products">
        <ng-container *ngIf="products.length >= 2 as isEnough">
          <div style="align-items: center">
            <h2>Recommended For You</h2>
          </div>

          <div
            style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">
            <div class="carousel-container">
              <ng-container *ngIf="products[0]; else loading">
                <ngb-carousel
                  [interval]="0"
                  [animation]="true"
                  [showNavigationArrows]="products.length >= 2"
                  [showNavigationIndicators]="products.length >= 2"
                  [wrap]="true"
                  class="custom-carousel carousel-dark">
                  <ng-template ngbSlide *ngIf="products[0]">
                    <div class="row">
                      <div
                        class="product-card"
                        *ngFor="
                          let product of products.slice(0, 4);
                          let i = index
                        ">
                        <app-product-card
                          [product]="product"
                          [pageType]="'normal'"></app-product-card>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide *ngIf="products[4]">
                    <div class="row">
                      <div
                        class="product-card"
                        *ngFor="
                          let product of products.slice(4, 8);
                          let i = index
                        ">
                        <app-product-card
                          [product]="product"
                          [pageType]="'normal'"></app-product-card>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide *ngIf="products[8]">
                    <div class="row">
                      <div
                        class="product-card"
                        *ngFor="
                          let product of products.slice(8, 12);
                          let i = index
                        ">
                        <app-product-card
                          [product]="product"
                          [pageType]="'normal'"></app-product-card>
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <br /><br />
    <div style="align-items: center">
      <h2>Trending products</h2>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
      <div
        class="carousel-container"
        *ngIf="trendingProducts$ | async as products; else loading">
        <ng-container *ngIf="products[0]; else loading">
          <ngb-carousel
            [interval]="0"
            [animation]="true"
            [showNavigationArrows]="true"
            [showNavigationIndicators]="true"
            [wrap]="true"
            class="custom-carousel carousel-dark">
            <!-- <ng-template ngbSlide *ngIf="products[0]"> -->
            <ng-template ngbSlide *ngIf="products[0]">
              <div class="row">
                <div
                  class="product-card"
                  *ngFor="let product of products.slice(0, 4); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide *ngIf="products[4]">
              <div class="row">
                <div
                  class="product-card"
                  *ngFor="let product of products.slice(4, 8); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide *ngIf="products[8]">
              <div class="row">
                <div
                  class="product-card"
                  *ngFor="let product of products.slice(8, 12); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </ng-container>
      </div>
    </div>
    <br /><br />
    <div class="register-row">
      <div class="register-container">
        <div class="register-title">
          <h2>
            Have a small local business?<br />
            Register it on E-Mall today!
          </h2>
        </div>
        <div class="register-btn">
          <ion-button class="overlay-button" (click)="onRegClick()">
            Register Business
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <ng-container *ngIf="followedSellers$ | async as sellers">
    <ng-container *ngIf="sellers !== null && sellers.length !== 0">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        ">
        <div style="align-items: center">
          <h3>Followed Sellers</h3>
        </div>
        <div style="width: 600px; height: 100px">
          <swiper-container [slidesPerView]="3" speed="500" [lazy]="true">
            <swiper-slide
              *ngFor="let seller of sellers"
              style="width: 200px; align-items: center">
              <!-- <div
                style="
                  align-items: center;
                  height: 200px;
                  border: 1px solid grey;
                  border-radius: 5px;
                "> -->
              <ion-img
                *ngIf="seller.logo && seller.logo.length > 0"
                style="height: 100px"
                (click)="redirect(seller.id)"
                [src]="seller.logo"
                [alt]="seller.name"></ion-img>
              <!-- <ng-template #noLogo>
                <ion-label
                  (click)="redirect(seller.id)"
                  style="font-weight: 500; font-size: large">
                  {{ seller.name }}
                </ion-label>
              </ng-template> -->
              <!-- </div> -->
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
      <br /><br />
    </ng-container>
  </ng-container>

  <app-footer></app-footer>
</ion-content>

<ng-template #loading>
  <!-- <div class="carousel-container"> -->
  <ngb-carousel
    [interval]="0"
    [animation]="true"
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
    [wrap]="true"
    class="custom-carousel carousel-dark">
    <!-- <ng-template ngbSlide *ngIf="products[0]"> -->
    <ng-template ngbSlide>
      <div class="row">
        <div class="product-card" *ngFor="let number of [0, 1, 2, 3]">
          <app-product-card-placeholder></app-product-card-placeholder>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- </div> -->
</ng-template>
