
.ion-content-wrapper{
  
}
.overlay-button {
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  z-index: 99;
  font-size: 150%;
  justify-self: flex-end;
}

ion-button {
  --background: transparent;
  color: white;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.swiper-button-prev {
  left: 2rem;
  right: auto;
}

.swiper-button-next {
  right: 2rem;
  left: auto;
}

@media (min-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 1rem;
  }

  .swiper-button-prev {
    left: 10rem;
  }

  .swiper-button-next {
    right: 10rem;
  }
}

.cat-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  justify-content: center;
  padding: 5%;
  background-color: var(--ion-color-primary);
  flex-wrap: wrap;
}
.cat-title {
  h2{
    font-size: 400%;
    color:var(--ion-color-primary-alt);
  }
  height: min-content;
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.bubble-container {
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.category-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(
    --ion-color-primary-alt
  ); 
  color: #ffffff;
  border-radius: 20px;
  padding: 8px 16px; 
  margin: 8px; 
  cursor: pointer;
  white-space: nowrap;
}

.category-bubble:hover, .selected{
  background-color: var(--ion-color-secondary);
}

a {
  color: var(--ion-color-primary-shade);
}
.row{
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items vertically in the center */
  justify-content: flex-start; /* Space the items evenly along the row */
  padding: 0%;
}

.product-card {
  flex: 0; /* Adjust the flex property to control width of each product card */
  padding: 0%;
  width: min-content;
}
.row1 {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
}

.side-pannel {
  background-color: var(--ion-color-primary-alt);
  align-items: center;
  text-align: center;
  width: 50%;
  display: block;
  justify-self: flex-start;
  justify-content: center;
  padding-bottom: 2%;
  h3{
    font-size: 200%;
  }
}
.side-pannel2 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  justify-content: center;
  padding: 2%;
  padding-left: 5%;
  flex-wrap: wrap;
  .top-prod {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

.welcome-header {
  color: var(--ion-color-text);
  margin-bottom: 2rem;
}
.welcome-header-accent {
  color: var(--ion-color-text-contrast);
}
.welcome-footer {

  color: var(--ion-color-text);
}

#logo {
  height: 14rem;
  width: auto;
  margin: auto;
  display: block;
}

.custom-carousel{
  display: flex;
  min-width: 95%;
  justify-content: center;
}

.carousel-container{
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.register-container{
  display:flex;
  width: 75%;
  justify-self: center;
  background-color: var(--ion-color-primary-alt);
  border-radius: 12px;
  align-self: center;

  padding:5%;
  text-align: center;
  justify-content: center;

}

.register-title{
  display:flex;
  width: 75%;
  justify-self: flex-start;
  text-align: center;
  justify-content: center;
}
.register-btn{
  display: flex;
  width:25%;
  .overlay-button {
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    z-index: 99;
    font-size: 100%;
    justify-self: flex-end;
  }
}