<app-navbar></app-navbar>

<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <div class="row">
      <div class="side-pannel">
        <ion-img id="logo" src="assets/images/logo.png" alt="E-Mall"></ion-img>

        <h3 class="welcome-footer">
          Discover<br />Compare<br />Shop<br />E-Mall Has It All!
        </h3>
        <ion-button class="overlay-button" (click)="onAllClick()">
          More About Us
        </ion-button>
      </div>

      <div class="cat-container">
        <div class="cat-title">
          <h2>Browse by Category</h2>
        </div>
        <div class="bubble-container">
          <div
            *ngFor="let page of cat_pages"
            class="category-bubble"
            (click)="onCatClicked(page.path)">
            {{ page.title }}
          </div>
        </div>
      </div>
      <!-- <div class="side-pannel2">
        <h3>Top Product Today</h3>
        <div class="top-prod">
          <div class="spinner-container" *ngIf="showSpinner">
            <div class="spinner">
              <ion-spinner style="color: #99e3dc"></ion-spinner>
            </div>
          </div>
          <div *ngIf="!showSpinner">
            <div *ngIf="trendingProducts$ | async as products">
              <app-product-card
                [product]="products[0]"
                [pageType]="'normal'"></app-product-card>
            </div>
          </div>
        </div>
      </div> -->
    </div>


    <br /><br />
    <!--Product carousel-->
    <div style="align-items: center">
      <h3 #recommendedHeading>
        {{
          (forYouProducts$ | async)
            ? 'Recommended For You'
            : 'Most Popular Products'
        }}
      </h3>
    </div>
    <div class="spinner-container" *ngIf="showSpinner">
      <div class="spinner">
        <ion-spinner style="color: #99e3dc"></ion-spinner>
      </div>
    </div>
    <div
      style="
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
      *ngIf="!showSpinner">
      <div>
        <div *ngIf="(forYouProducts$ | async) === null">
          <ngb-carousel *ngIf="popProducts$ | async as products" [wrap]="true">
            <ng-template ngbSlide>
              <div class="row">
                <div
                  class="col-md-3"
                  *ngFor="let product of products.slice(0, 4); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row">
                <div
                  class="col-md-3"
                  *ngFor="let product of products.slice(4, 8); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row">
                <div
                  class="col-md-3"
                  *ngFor="let product of products.slice(8, 12); let i = index">
                  <app-product-card
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

        <ngb-carousel *ngIf="forYouProducts$ | async as products" [wrap]="true">
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let product of products.slice(0, 4); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let product of products.slice(4, 8); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-6"
                *ngFor="let product of products.slice(8, 12); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>




    <br /><br />
    <!--Product carousel-->
    <div style="align-items: center">
      <h3>Trending products</h3>
    </div>
    <div
      style="
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
      <!--<div *ngIf="(trendingProducts$ | async) === null">
        <mat-spinner></mat-spinner>
      </div>-->
      <div class="spinner-container" *ngIf="showSpinner">
        <div class="spinner">
          <ion-spinner style="color: #99e3dc"></ion-spinner>
        </div>
      </div>
      <div *ngIf="!showSpinner">
        <ngb-carousel
          *ngIf="trendingProducts$ | async as products"
          [wrap]="true"
          class="custom-carousel-arrows"
          style="color: black">
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let product of products.slice(0, 4); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let product of products.slice(4, 8); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
              <div
                class="col-md-6"
                *ngFor="let product of products.slice(8, 10); let i = index">
                <app-product-card
                  [product]="product"
                  [pageType]="'normal'"></app-product-card>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <ng-container *ngIf="imageObject !== null && imageObject.length > 0">
      <br /><br />
      <!--Product carousel-->
    </ng-container>
  </div>
  <br /><br />
  <ng-container *ngIf="followedSellers$ | async as sellers">
    <ng-container *ngIf="sellers !== null && sellers.length !== 0">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        ">
        <div style="align-items: center">
          <h3>Followed Sellers</h3>
        </div>
        <div
          style="
            width: 60%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
          ">
          <swiper-container
            [centerInsufficientSlides]="true"
            [slidesPerView]="3"
            [loop]="true"
            [lazy]="true">
            <swiper-slide *ngFor="let seller of sellers">
              <ion-img
                style="width: 100%; max-width: 200px; height: 100px"
                (click)="redirect(seller.id)"
                [src]="seller.logo"
                [alt]="seller.name"></ion-img>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
      <br /><br />
    </ng-container>
  </ng-container>

  <app-footer></app-footer>
</ion-content>
