<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8" />
</head>

<body>
  <app-navbar></app-navbar>
  <br>
  <div style="
        display: flex;
        flex-direction: column;
        min-height: 800px;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
      ">
    <div>
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>Advertiser 1</h3>
            <p>Sale</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Advertiser 2</h3>
            <p>Promotion</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Advertiser 3</h3>
            <p>
              Come visit our site!
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <br><br>
    <!--Product carousel-->
    <div style="align-items: center">
      <h3>Products For You</h3>
    </div>
    <div style="width: 80%; display: flex; justify-content: center; align-items: center;">
      <div *ngIf="(forYouProducts$ | async)===null" >
        <mat-spinner></mat-spinner>
      </div>
      <ngb-carousel *ngIf="forYouProducts$ | async as products" [wrap]="true">
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(0, 4); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(4, 8); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(8, 12); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <br><br>
    <!--Product carousel-->
    <div style="align-items: center">
      <h3>Popular products</h3>
    </div>
    <div style="width: 80%; display: flex; justify-content: center; align-items: center;">
      <div *ngIf="(popProducts$ | async)===null">
        <mat-spinner></mat-spinner>
      </div>
      <ngb-carousel *ngIf="popProducts$ | async as products" [wrap]="true">
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(0, 4); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(4, 8); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row">
            <div class="col-md-3" *ngFor="let product of products.slice(8, 12); let i = index">
              <mat-card class="product-card" (click)="goToProductPage(product.id)">
                <img mat-card-image [src]="getOneImg(product?.min_price_img_array)" alt="Product Image"
                  class="product-image" />
                <mat-card-content>
                  <mat-card-title>{{ product.name }}</mat-card-title>
                  <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                  <mat-card-title>R {{ product.min_price }}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <mat-icon mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </mat-icon>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>




  <br><br>
  <app-footer></app-footer>

</body>

</html>