@import 'mixins';

.bg {
  background-image: url('../../../assets/images/splash_backgroud.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.content-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.text-to-show {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}

.bg,
.logo,
.texts,
.emall-has {
  opacity: 0;
}
.progress {
  margin-top: 3rem;
  width: 30%;
  height: min-content;
}

@include screen-small {
  .text-to-show {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  .progress {
    //   margin-top: 1rem;
    width: 70%;
    //   height: min-content;
  }
}
