<ion-content>
  <div class="bg"></div>
  <div class="content-holder">
    <ion-img
      class="logo"
      src="assets/images/logo-white-removebg-preview.png"
      alt="Logo"></ion-img>

    <div class="texts">
      <ion-label class="text-to-show">{{ discover }}</ion-label>
      <ion-label class="text-to-show">{{ compare }}</ion-label>
      <ion-label class="text-to-show">{{ shop }}</ion-label>
    </div>
    <div class="emall-has">
      <ion-label class="text-to-show">{{ emall }}</ion-label>
    </div>
    <div class="progress">
      <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
    </div>
  </div>
</ion-content>
