<!--<div *ngIf="this.loader.getLoading()" class="cssload-container">
    
    <div class="spinner">
        <div class="loader-content">
            <img src="assets/images/logo-white-removebg-preview.png" alt="Loading Image" style="width:600px;">
        </div> 
        <ion-spinner name="dots"></ion-spinner>
      </div>
    <div class="cssload-speeding-wheel">
    </div>
</div>-->

<div *ngIf="this.loader.getLoading()" class="cssload-container">
    <div class="loader-img">
        <img src="assets/images/logo-white-removebg-preview.png" alt="Loading Image" style="width:600px;">
    </div>
    <!--<div class="cssload-speeding-wheel"></div>-->
    
</div>
