<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
     <title>Pending</title>
  </head>

  <body class="flex-column">
    
    <main class="pending main">
      <div class="cell">
        <!-- ======= section1 ======= --> 
        <section class="section1__section1">
          <h1 class="section1__hero_title">Verification Pending</h1>
          <h1 class="section1__title">Thank you for registering! <br />We will send you a confirmation email soon</h1>
          <div class="section1__group">
            <div class="section1__group1">
              <hr size="1" class="section1__line" />
              <div class="section1__group2">
                <img src="/" alt="alt text" class="section1__image1" />
                <article class="section1__box">
                  <div class="spacer"></div>
                  <div class="cell"><a href="#" class="section1__highlights">Go Back</a></div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- ======= End section1 ======= --> 

      </div>
    </main>
    <script type="text/javascript">
      AOS.init();

      const header = document.querySelector("#header");
      if(header) {
          const headroom = new Headroom(header);
          headroom.init();
      }
    </script>
  </body>
</html>
