.popcontent{
    width: 100%;
    height: 100%;
    fill: var(--c-5-d, #B9E6E8);
}

.editbtn{
    margin-right: 10px;
}

.buttons{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}