<app-navbar></app-navbar>
<ion-content>
  <app-route-breadcrumb></app-route-breadcrumb>
  <section class="about-us">
    <div class="about">
      <img src="assets/images/logo-black.png" class="pic" alt="E-Mall" />
      <div class="text">
        <h2>About Us</h2>
        <p>
          E-mall is an online platform that allows verified sellers to list
          their products and enables customers to easily view and compare
          similar products across multiple websites. By scraping verified seller
          websites, E-mall ensures that only high-quality products are displayed
          to customers, and customers can receive personalized experiences based
          on their search history. Sellers can benefit from the platform by
          receiving analytics on customer behavior, while customers can view
          competitor prices on a given product, enabling them to make informed
          purchasing decisions. E-mall aims to offer hassle-free shopping and
          selling experiences to customers and sellers, respectively.
        </p>
      </div>
    </div>
  </section>
</ion-content>
<app-footer></app-footer>
