<!--<div class="side-nav-container">-->
<ion-nav class="side-nav">
  <div class="user-container" *ngIf="profile">
    <div class="user-circle-container">
      <b>{{ profile.username.charAt(0) }}</b>
    </div>
    <p>
      <b>{{ profile.username }}</b>
    </p>
  </div>
  <ion-list>
    <!--<ion-item>-->

    <!--</ion-item>-->

    <ion-item
      (click)="navigateTo('customer-profile')"
      [class.active]="currentPage === 'customer-profile'">
      <!--<ion-button aria-label="">-->
      <ion-icon
        name="person-circle"
        aria-hidden="true"
        style="margin-right: 10px"></ion-icon>
      <ion-label>Account</ion-label>
      <!--</ion-button>-->
    </ion-item>
    <ion-item
      [class.active]="currentPage === 'my-collections'"
      (click)="navigateTo('my-collections')">
      <!--<ion-button aria-label="">-->
      <ion-icon
        name="bookmark"
        aria-hidden="true"
        style="margin-right: 10px"></ion-icon>
      <ion-label>My Collections</ion-label>
      <!--</ion-button>-->
    </ion-item>
    <!--
                  <ion-item [class.active]="currentPage === 'construction'"
                  (click)="navigateTo('construction')">
                      <ion-button aria-label="">
                          <ion-icon name="notifications" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Notifications</ion-label>
                      </ion-button> 
                  </ion-item>
                  <ion-item [class.active]="currentPage === 'edit-customer-profile'"
                  (click)="navigateTo('edit-customer-profile')"> 
                      <ion-button aria-label="">
                          <ion-icon name="settings" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Settings</ion-label>
                      </ion-button>
                    
                  </ion-item>-->
    <ion-item (click)="signOut()">
      <!--<ion-button aria-label="">-->
      <ion-icon
        name="arrow-back-outline"
        aria-hidden="true"
        style="margin-right: 10px"></ion-icon>
      <ion-label>Sign Out</ion-label>
      <!--</ion-button>-->
    </ion-item>
    <ion-item href="https://drive.google.com/file/d/1ZAOZ1lxjZOZW7LQeYPLO6H37x-oVc9em/view?usp=sharing">
      <ion-icon
        name="help-circle-outline"
        aria-hidden="true"
        style="margin-right: 10px"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
  </ion-list>
</ion-nav>
<!--</div>-->
