.side-nav,
.side-nav ion-list {
  background-color: #ecf6f6;
  font-family: 'Poppins',sans-serif;

 ion-item {
  --border-width: 0; /* Set border width to 0 to remove the lines */
  --inner-border-width: 0; /* Set inner border width to 0 as well */
}}
.side-nav {
  display: flex;
  max-width: 250px;
//width: 25%;
min-height: 1024px;
//border: 1px solid red;
//height: 88%;
//box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);



padding: 40px 20px 254px 20px;
flex-direction: column;
align-items: center;
//gap: 20px;
//flex-shrink: 0;
  z-index: 999;
}

.side-nav ion-list {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.side-nav ion-item {
  display: flex;
  width: fit-content;
  height: 64px;
  padding: 16px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  --ion-background-color: transparent; /* Remove the background color of the item */
  --ion-item-background-color: transparent; /* Remove the background color of the item */
  --ion-item-box-shadow: none; /* Remove the box shadow */
  --ion-item-border-radius: 0; /* Remove the border radius */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}


.side-nav ion-item:hover {
  background-color: #37d0d6; /* Set the desired background color when hovering */
  ion-label,ion-icon{
    color: #FFF;
  }
}

ion-title {
  color: var(--greys-blue-grey-900, #151d48);

  /* 3xl/Semibold */
  font-family: 'Poppins',sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.side-nav ion-item ion-icon,
.side-nav ion-item ion-label {
  background-color: transparent; /* Set the background color of the icon and label to transparent */
}
.side-nav ion-item ion-icon {
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.side-nav ion-item ion-label {
  color: var(--c-1-a, #151515);
font-family: 'Poppins',sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

ion-item.active {
  background-color: #37d0d6; /* Set the desired background color when hovering */
  ion-label,ion-icon {
    color: #fff;
  }
}

.content-container {
    display: flex;
    justify-content: space-between; 
  }
  

.side-nav-container {
    flex: 1; 
    padding: 20px; 
    //border: 1px solid green ;
    max-width: 326px;
  }
  
.ion-content-wrapper {
    display: flex;
    flex-direction: row;
    //border: 1px solid red ;
}


.profile-info-container {
    flex: 1;
    //border: 1px solid blue ;
}

.user-circle-container{
  width: 75px; 
  height: 76px; 
  background-color: #37d0d6; 
  border-radius: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white;
  font-size: 40px;
}

.user-container{
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.user-container p{
  font-size: larger;
  margin-top: 10px;
}