<!--<div class="side-nav-container">-->
                <ion-nav class="side-nav">
                
                    <div class="user-container" *ngIf=" profile">
                        <div class="user-circle-container">
                            <b>{{ profile.username.charAt(0) }}</b>
                        </div>
                        <p><b>{{ profile.username }}</b></p>
                    </div>
                <ion-list>
                    <!--<ion-item>-->
                        
                    <!--</ion-item>-->

                    <ion-item (click)="navigateTo('customer-profile')" [class.active]="currentPage === 'customer-profile'">
                        <!--<ion-button aria-label="">-->
                            <ion-icon name="person-circle" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                            <ion-label>Account</ion-label> 
                        <!--</ion-button>-->
                        
                    </ion-item>
                  <ion-item  [class.active]="currentPage === 'wishlist'" 
                  (click)="navigateTo('wishlist')">
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="heart" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>My Wishlist</ion-label>
                      <!--</ion-button>-->
                    
                  </ion-item>
                  <!--
                  <ion-item [class.active]="currentPage === 'construction'"
                  (click)="navigateTo('construction')">
                      <ion-button aria-label="">
                          <ion-icon name="notifications" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Notifications</ion-label>
                      </ion-button> 
                  </ion-item>
                  <ion-item [class.active]="currentPage === 'edit-customer-profile'"
                  (click)="navigateTo('edit-customer-profile')"> 
                      <ion-button aria-label="">
                          <ion-icon name="settings" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Settings</ion-label>
                      </ion-button>
                    
                  </ion-item>-->
                  <ion-item 
                    (click)="signOut()"
                  > 
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="arrow-back-outline" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Sign Out</ion-label>
                      <!--</ion-button>-->
                  </ion-item>
                </ion-list>    
              </ion-nav>
            <!--</div>-->
