
<ion-nav class="sticky-nav">
    <ion-list>
    <!--  <ion-item (click)="navigateTo('sales')">-->
      <ion-item>
        <ion-icon name="analytics" slot="start"></ion-icon>
        <ion-label>Sales</ion-label>
      </ion-item>
      <!--<ion-item (click)="navigateTo('products')"> -->
        <ion-item>
        <ion-icon name="basket" slot="start"></ion-icon>
        <ion-label>Products</ion-label>
      </ion-item>
      <!--
      <ion-item (click)="navigateTo('messages')"> -->
        <ion-item>
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <!--
      <ion-item (click)="navigateTo('settings')">-->
        <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-nav>