.search-input{
    margin-right: 30px;
    width: 500px;
    border-radius: 20px;
}

.search-input {
    padding-left: 50px; 
}

.input-group-text {
    position: absolute;
    left: 0;
    z-index: 2;
    padding: 0.375rem 0.75rem;
}
  