@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(124, 208, 211);
$color_type_2: rgb(169, 169, 169);
$color_type_3: rgb(209, 209, 209);
$color_type_4: rgb(21, 21, 21);
$color_type_5: rgb(247, 249, 249);
$color_type_6: rgb(55, 208, 214);
$color_type_7: rgb(87, 87, 87);

$padding_type_0:0px;

$border_radius_type_0: 12px 12px 12px 12px;

$font_type_0: 600 50px/1.39 "Poppins", Helvetica, Arial, serif;
$font_type_1: 600 32px/1.39 "Poppins", Helvetica, Arial, serif;
$font_type_2: 700 15px/1.53 "Poppins", Helvetica, Arial, serif;
$font_type_3: 400 14px/1.35 "Open Sans", Helvetica, Arial, serif;
$font_type_4: 400 12px/1.33 "Open Sans", Helvetica, Arial, serif;
$font_type_5: 600 1em/1.39 "Poppins", Helvetica, Arial, serif;

.input1 {
  background-color: $color_type_7;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(209, 209, 209);
  outline-offset: -1px;
  width: 320px;
  height: 42px;
  position: absolute;
  top: 412px;
  right: 100px;
}
.input2 {
  background-color: $color_type_7;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(209, 209, 209);
  outline-offset: -1px;
  width: 320px;
  height: 42px;
  position: absolute;
  top: 480px;
  right: 100px;
}

.main {
  @include flex-column;
  background-color: $color_type_5;
  padding: $padding_type_0;
  position: relative;
  overflow: hidden;
  border: none;
  margin: 0%
}
.main > .cell {
  @include flex-column;
  position: relative;
}
.section1__section1 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  min-height: 1024px;
}
.section1__content_box {
  @include flex-column;
  background-color: $color_type_5;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(209, 209, 209);
  outline-offset: -1px;
  width: 320px;
  height: 42px;
  position: absolute;
  top: 412px;
  right: 200px;
}
.section1__text {
  @include font-face($font_type_3, $color_type_2, 0px);
  position: relative;
  flex-grow: 1;
  margin: 11px 16px 12px 21px;
}
.section1__content_box1 {
  @include flex-column;
  background-color: $color_type_5;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(209, 209, 209);
  outline-offset: -1px;
  width: 320px;
  height: 42px;
  position: absolute;
  top: 479px;
  right: 100px;
}
.section1__box {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: $border_radius_type_0;
  outline: 2px solid rgb(25, 178, 184);
  outline-offset: -2px;
  width: 216px;
  height: 40px;
  position: absolute;
  top: 575px;
  right: 152px;
  @include font-face($font_type_2, $color_type_5, 0px);
 
}
.section1__highlights {
  @include font-face($font_type_2, $color_type_5, 0px);
  width: 56px;
  position: relative;
  flex-grow: 1;
  min-width: 56px;
  margin: 9px auto 8px;
}
.section1__line {
  width: calc(100% - 1162px);
  height: auto;
  aspect-ratio: 139;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 640px;
  left: 941px;
  right: 221px;
}
.section1__info2 {
  @include font-face($font_type_4, $color_type_7, 0px);
  width: 133px;
  height: auto;
  position: absolute;
  top: 626px;
  right: 218px;
}
a {
  @include font-face($font_type_4, $color_type_6, 0px);
}
.section1__info {
  @include font-face($font_type_4, $color_type_7, 0px);
  width: 100px;
  height: auto;
  position: absolute;
  top: 530px;
  right: 320px;
}
.section1__group {
  @include flex-column;
  width: 720px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.section1__cover {
  margin: 0px;
  width: calc(100% - 0px);
  height: auto;
  aspect-ratio: 0.7;
  vertical-align: top;
  object-fit: cover;
  position: absolute;
  top:-10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: turquoise;
}
.section1__hero_title_box {
  width: 508px;
  height: auto;
  position: absolute;
  top: 100px;
  right: 106px;
}
.section1__hero_title {
  @include font-face($font_type_0, $color_type_0, 0px);
}
.section1__hero_title_span0 {
  font: $font_type_5;
  color: $color_type_5;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__hero_title_span1 {
  font: $font_type_5;
  color: $color_type_0;
  font-style: normal;
  letter-spacing: 0px;
}
.section1__image {
  width: 200px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 430px;
  right: 260px;
}
.section1__title {
  @include h-center-content;
  font: $font_type_1;
  color: $color_type_5;
  text-align: center;
  letter-spacing: 0px;
  width: 263px;
  height: auto;
  position: absolute;
  bottom: 164px;
  right: 228px;
}
.section1__title1 {
  @include font-face($font_type_1, $color_type_4, 0px);
  width: 87px;
  height: auto;
  position: absolute;
  top: 342px;
  right: 216px;
}
.section1__icon {
  width: 20px;
  height: auto;
  aspect-ratio: 1;
  vertical-align: top;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 528px;
  right: 498px;
}
.section1__info1 {
  @include font-face($font_type_4, $color_type_1, 0px);
  width: 94px;
  height: auto;
  position: absolute;
  top: 530px;
  right: 100px;
}
.section1__info11 {
  @include font-face($font_type_4, $color_type_1, 0px);
  width: 42px;
  height: auto;
  position: absolute;
  top: 626px;
  right: 169px;
}
