<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
    <link rel="stylesheet" type="text/css" href="/css/Signin.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column" style="margin: 0px;">
    <main class="signin main">
      <div class="cell">
        <!-- ======= section1 ======= -->
        <section class="section1__section1">
            <input
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                #email="ngModel"
                [(ngModel)]="user.email" >
       
          <div class="section1__content_box1">
            <input
                [type]="user.showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                placeholder="Password"
                #password="ngModel"
                [(ngModel)]="user.password">
          </div>
              <button class="section1__box" type="submit" value="Log in" (click)="signIn()">SIGN IN</button>
          
          <div class="section1__info2"><a href="#">Don’t have an account?</a></div>
          <div class="section1__info">
            <input type="checkbox" id="Remember" name="Remember me" value="yes">Remember me</div>
          <div class="section1__group">
            <div class="section1__cover">
              <h1 class="section1__hero_title_box">
                <span class="section1__hero_title"
                  ><span class="section1__hero_title_span0"
                    >Welcome to SA’s leading comparison service for </span
                  ><span class="section1__hero_title_span1"
                    >online shopping</span
                  ></span
                >
              </h1>
            </div>
            <img src="assets/logo.png" alt="alt text" class="section1__image" />
            <h1 class="section1__title">
              Discover<br />Compare<br />Shop<br />E-Mall Has It All!
            </h1>
          </div>
          <h1 class="section1__title1">Login</h1>
          <div class="section1__info1"><a href="#">Forgot Password</a></div>
          <div class="section1__info11"><a href="#">Sign up</a></div>
        </section>
        <!-- ======= End section1 ======= -->
      </div>
    </main>
    <script type="text/javascript">
      AOS.init();

      const header = document.querySelector('#header');
      if (header) {
        const headroom = new Headroom(header);
        headroom.init();
      }
    </script>
  </body>
</html>
<!-- <div class="row justify-content-center my-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="user.email"
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="password" class="form-label">Password:</label>
            <div class="input-group input-group-sm">
              <input
                [type]="user.showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="user.password"
                class="form-control form-control-sm"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="user.showPassword = !user.showPassword"
              >
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-eye-fill': !user.showPassword,
                    'bi-eye-slash-fill': user.showPassword
                  }"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button
              type="button"
              (click)="signIn()"
              class="btn btn-sm btn-success"
              [disabled]="loading"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="loading"
              ></span>
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
