h1{
  font-size: 30px;
  }
  h3{
    font-size: 20px;
  }
ion-content {
  --background: #444;
  height: 100%;
}
ion-grid {
  --ion-grid-padding: 0px;

  --ion-grid-padding-xs: 0px;
  --ion-grid-padding-sm: 0px;
  --ion-grid-padding-md: 0px;
  --ion-grid-padding-lg: 0px;
  --ion-grid-padding-xl: 0px;

  --ion-grid-column-padding: 0px;

  --ion-grid-column-padding-xs: 0px;
  --ion-grid-column-padding-sm: 0px;
  --ion-grid-column-padding-md: 0px;
  --ion-grid-column-padding-lg: 0px;
  --ion-grid-column-padding-xl: 0px;
  background-color: white;
  height: 90%;
  width: 80%;
  max-width: 870px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px 12px 12px 12px;
}
ion-row,
ion-col {
  height: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.input-error-box-wrapper {
  margin-top: 2rem;
  width: 85%;
  max-width: 305px;
}
.input-error-box {
  margin-bottom: 1rem;
  width: 100%;
}
.error-container {
  font-size: small;
  width: 100%;
  padding-left: 1rem;
}
.success-message,
.error-message {
  display: flex;
  vertical-align: middle;
  margin-top: 0.3rem;
}
.submit-button {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#already-have-acc-text {
  margin-right: 0.4rem;
}
.side-pannel {
  background: linear-gradient(180deg, #19B2B8 99.99%, rgba(25, 178, 184, 0.00) 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 12px 12px 0px;
  text-align: center;
}

.welcome-header {
  color: var(--ion-color-text);
  margin-bottom: 2rem;
}
.welcome-header-accent {
  color: var(--ion-color-text-reverse);
}
.welcome-footer {
  color: var(--ion-color-text);
}

a{
  color: var( --ion-color-primary-shade);
}

#logo {
  height: 8rem;
  width: auto;
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}
