<app-navbar></app-navbar>
<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <!--<div class="container">-->
    <div class="side-nav-container" *ngIf="profile$ | async as profile">
      <app-customer-profile-sidenav [profile]="{ username: profile.username }">
      </app-customer-profile-sidenav>
    </div>

    <div class="combo-container">
      <ng-container *ngIf="combo$ | async as combo">
        <app-combo-breadcrumb [combo]="combo"></app-combo-breadcrumb>
      </ng-container>
      <div class="head">
        <h2>{{ name }}</h2>
        <div class="head-buttons">
          <ion-button (click)="edit()">Edit Name</ion-button>
          <ion-button (click)="invite()">Invite</ion-button>
          <ion-button id="present-alert"> Leave Collection</ion-button>
          <ion-alert
            trigger="present-alert"
            header="Leave collection?"
            message="Are you sure you want to leave the collection: <b>{{
              name
            }}</b>"
            [buttons]="alertButtons">
          </ion-alert>
        </div>
      </div>
      <div class="head">
        <div class="user-cards">
          <ion-card class="user-card">
            <ion-card-header (click)="togglePanel(1)">
              <div class="users">
                <ion-card-title>Active Users</ion-card-title>
                <ion-icon
                  *ngIf="!isPanelOpen[1]"
                  name="chevron-down"
                  class="arrow"></ion-icon>
                <ion-icon
                  *ngIf="isPanelOpen[1]"
                  name="chevron-up"
                  class="arrow"></ion-icon>
              </div>
            </ion-card-header>
            <ion-card-content [hidden]="!isPanelOpen[1]">
              <ion-list>
                <div *ngFor="let user of active_users">
                  <ion-item>
                    <ion-label>{{ user }}</ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="pending_users?.length !== 0" class="user-card">
            <ion-card-header (click)="togglePanel(2)">
              <div class="users">
                <ion-card-title>Pending Users</ion-card-title>
                <ion-icon
                  *ngIf="!isPanelOpen[2]"
                  name="chevron-down"
                  class="arrow"></ion-icon>
                <ion-icon
                  *ngIf="isPanelOpen[2]"
                  name="chevron-up"
                  class="arrow"></ion-icon>
              </div>
            </ion-card-header>
            <ion-card-content [hidden]="!isPanelOpen[2]">
              <ion-list>
                <div *ngFor="let user of pending_users">
                  <ion-item>
                    <ion-label>{{ user }}</ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <div class="main" *ngIf="combo$ | async as comboData">
        <div class="combo-container-nocards"
          *ngIf="comboData.products?.length === 0">
          <div class="product-card-no">
            <img
              src="assets\images\no-image.jpeg"
              alt="No Product Found"
              class="nimage" />
          </div>
          <h3>Oops! It's empty here!</h3>
          <p>
            Add products to this combo by clicking the bookmark on the product.
          </p>
        </div>

        <div class="combo-container-cards">
          <div class="product-card">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
              *ngIf="(combo$ | async) === null">
              <mat-spinner></mat-spinner>
            </div>
            <ng-container *ngIf="products$ | async as products">
              <div class="row" style="grid-auto-rows: auto">
                <div
                  class="col-md-3 col-12"
                  style="grid-auto-columns: auto; min-width: 270px"
                  *ngFor="let product of products">
                  <app-product-card
                    [product]="product"
                    [pageType]="'comboPage'"
                    [collection_id]="collection_id"></app-product-card>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="collection-cards" *ngIf="comboData$ | async as combos">
          <ion-card class="collection-card">
            <ion-card-header>
              <ion-card-title>My Collections</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item
                  [routerLink]="['/wishlist']"
                  routerLinkActive="active"
                  class="nav-item">
                  <ion-label>Wishlist</ion-label>
                </ion-item>
                <div *ngFor="let combo of combos">
                  <ion-item
                    [routerLink]="['/collection']"
                    [queryParams]="{ collection_id: combo.id }"
                    routerLinkActive="active"
                    class="nav-item">
                    <ion-label>{{ combo.name }}</ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
