.content-container {
  display: flex;
  justify-content: space-between;
}

.side-nav-container {
  flex: 1;
  padding: 20px;
  //border: 1px solid green ;
  max-width: 250px;
}

.ion-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.combo-container {
 
  margin-top: 30px;
  flex: 1;
  margin-left: 5%;
  padding-right: 3%;
}
.head{
  display:flex;
  justify-content: space-between;

.head-buttons{
  display: flex;
  justify-content: space-between;
  gap:5%;
}

}
.user-cards {
  display: flex; 
  flex-wrap: wrap;
  width: 70%;
}

ion-card {
  width: 30%;
  height: fit-content;
  ion-icon{
    justify-content: flex-end;
    align-items: flex-end;
  }
}
ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
.users{
  display: flex;
  justify-content: space-between;
}
.arrow {
  justify-content: flex-end;
}


.combo-container h2 {
  margin-left: 15px;
  margin-top: 0px;
}

.combo-container1 h2 {
  margin-left: 15px;
  margin-top: 60px;
}

.combo-container-cards {
  flex: 1;
  margin-top: 10px;
  width: fit-content;
}

.combo-container-nocards {
  flex: 1;
  margin-top: 50px;
  text-align: center;
  padding-right: 100px;
}

.nimage {
  width: 300px;
  height: 300px;
  justify-content: center;
  opacity: 30%;
  align-items: center;
}

.collection-cards{
  display: flex;
}

.collection-card{
  width:max-content;
  
}
