<ion-card>
  <ion-skeleton-text animated style="width: 100%; height: 100%">
  </ion-skeleton-text>
  <ion-card-content>
    <div>
      <div>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 100%"> </ion-skeleton-text>
        </ion-card-title>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding-bottom: 1rem;
          ">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
