<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Under Construction</title>
  </head>

  <body class="flex-column">
    <app-navbar></app-navbar>
    <main class="pending main">
      <div class="cell">
        <!-- ======= section1 ======= -->
        <section class="section1__section1">
          <!-- <img
            src="assets/images/logo.png"
            alt="alt text"
            class="section1__image1" /> -->
          <h1 class="section1__hero_title">Coming Soon</h1>
          <div class="section1__group">
            <div class="section1__group1">
              <hr size="1" class="section1__line" />
              <div class="section1__group2">
                <article class="section1__box">
                  <div class="spacer"></div>
                  <div class="cell">
                    <a class="section1__highlights" href="/home">Go Home</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- ======= End section1 ======= -->
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>
