<app-navbar></app-navbar>
<ion-content class="global-ion-content">
    <div class="ion-content-wrapper">
        <!--<div class="container">-->
            <div class="side-nav-container">
                <ion-nav class="side-nav">
                
                <ion-list>

                    <ion-item >
                        <!--<ion-button aria-label="">-->
                            <ion-icon name="person-circle" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                            <ion-label>User Details</ion-label>
                        <!--</ion-button>-->
                        
                    </ion-item>
                  <ion-item (click)="goToWishlist()">
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="heart" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>My Wishlist</ion-label>
                      <!--</ion-button>-->
                    
                  </ion-item>
                  <ion-item (click)="goToConstruction()" >
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="notifications" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Notifications</ion-label>
                      <!--</ion-button> -->
                  </ion-item>
                  <ion-item (click)="goToConstruction()"> 
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="settings" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Settings</ion-label>
                      <!--</ion-button>-->
                    
                  </ion-item>
                  <ion-item 
                    (click)="signOut()"
                  > 
                      <!--<ion-button aria-label="">-->
                          <ion-icon name="arrow-back-outline" aria-hidden="true" style="margin-right: 10px;"></ion-icon>
                          <ion-label>Sign Out</ion-label>
                      <!--</ion-button>-->
                  </ion-item>
                </ion-list>    
              </ion-nav>
            </div>
        
            <div class="profile-info-container">
                Myprofile
            </div>
        <!--</div>-->
    </div>
    <app-footer></app-footer>
</ion-content>
