<!-- <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          class="welcomeMsg_logo_footer"
          src="assets/images/logo.png"
          alt="e-Mall logo" />
      </div>
      <div class="col-md-3">
        <h5>e-Mall</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/construction">About us</a></li>
          <li><a routerLink="/construction">Contact </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Learn More</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/sign-up">Get started</a></li>
          <li><a routerLink="/construction">Our App</a></li>
          <li>
            <a routerLink="/construction">Policies and privacy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Partners & Advertisers</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/register">Register your shop</a></li>
          <li><a routerLink="/construction">Merchant Dashboard</a></li>
          <li><a routerlink="/construction">Avertising</a></li>
        </ul>
      </div>
    </div>
    <div class="row icons">
      <div class="col-md-3">
        <p>Copyright © 2023 e-Mall</p>
      </div>

      <div class="col-md-3"></div>
      <div class="col-md-3">
        <a routerLink="#"
          ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i
        ></a>
      </div>
      <div class="col-md-3">
        <a routerLink="#"
          ><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</footer> -->
<!-- <footer class="footer"> -->
<mat-grid-list cols="3" rowHeight="100px" style="margin: 0px">
  <mat-grid-tile>
    <img
      class="welcomeMsg_logo_footer"
      src="assets/images/logo.png"
      alt="e-Mall logo" />
  </mat-grid-tile>
  <mat-grid-tile>
    <h5>e-Mall</h5>
    <ul class="list-unstyled">
      <li>
        <a mat-button routerLink="/construction">About us</a>
      </li>
      <li>
        <a mat-button routerLink="/construction">Contact</a>
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile>
    <h5>Learn More</h5>
    <ul class="list-unstyled">
      <li>
        <a mat-button routerLink="/sign-up">Get started</a>
      </li>
      <li>
        <a mat-button routerLink="/construction">Our App</a>
      </li>
      <li>
        <a mat-button routerLink="/construction">Policies and privacy</a>
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile>
    <h5>Partners & Advertisers</h5>
    <ul class="list-unstyled">
      <li>
        <a mat-button routerLink="/register">Register your shop</a>
      </li>
      <li>
        <a mat-button routerLink="/construction">Merchant Dashboard</a>
      </li>
      <li>
        <a mat-button routerLink="/construction">Avertising</a>
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Copyright © 2023 e-Mall</p>
    <div>
      <a mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </a>
      <a mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!-- </footer> -->
