<div class="custom-footer-wrapper">
  <ion-toolbar color="#d8f9f9" class="footer">
    <div
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 custom-footer">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Syntax Sharks</p>
      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img
          class="bi me-2"
          style="width: auto; height: 50px; padding: 0px; margin: 0px"
          src="assets/images/logo-black-no-bg.png"
          alt="e-Mall logo" />
      </a>

      <ul class="nav col-md-4 justify-content-end" style="flex-wrap: nowrap">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link px-2 text-body-secondary"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a routerLink="/about" class="nav-link px-2 text-body-secondary"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link px-2 text-body-secondary"
            >Merchants</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link px-2 text-body-secondary"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a href="https://drive.google.com/file/d/1ZAOZ1lxjZOZW7LQeYPLO6H37x-oVc9em/view?usp=sharing" class="nav-link px-2 text-body-secondary"
            >Help</a
          >
        </li>
      </ul>
    </div>
  </ion-toolbar>
</div>
