
.navbar{
    height: 65px;
}
i {
    vertical-align: top;
}
i.arrow{
    margin-left: 10px;
    vertical-align: middle !important;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;   
    width: 100%;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    gap: 1px;
    margin-left: 20px;
    margin-right: 20px;    
}

.navbar-brand{
    width: 10px;
    height: auto;
}
.navbar-logo {
    width:70px;
    height: auto;
    min-width: 70px;
    min-height: 40px !important;
}

.navbar-spacer {
    flex-grow: 1;
}

.toolbar-button {
    flex-shrink: 0;
    height: 100%;
    font-size: medium;
    font-weight: bold;
    margin-right: 2rem;
}
.search-bar{
    width: 30%;
    height: 100%;
    vertical-align: bottom;
    margin-right: 30px;
}