<ion-header>
  <ion-toolbar color="primary" class="navbar">
    <div class="flex-container">
      <div class="toolbar-button">
        <a class="navbar-brand">
          <img class="navbar-logo" src="assets/images/logo-black-no-bg.png" alt="e-Mall logo"
            (click)="redirect('home')" />
        </a>
      </div>

      <ion-buttons slot="start">
        <ion-button class="toolbar-button" (click)="toggleCategory($event)">
          <span class="label">All Categories</span>
          <ion-icon *ngIf="!isCategoryOpened" name="chevron-down" class="arrow"></ion-icon>
          <ion-icon *ngIf="isCategoryOpened" name="chevron-up" class="arrow"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="start">
        <ion-button class="toolbar-button" (click)="toggleSellers($event)">
          <span class="label">Merchants</span>
          <ion-icon *ngIf="!isCategoryOpened" name="chevron-down" class="arrow"></ion-icon>
          <ion-icon *ngIf="isCategoryOpened" name="chevron-up" class="arrow"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="start">
        <ion-button class="toolbar-button" (click)="wishlist($event)">
          <span class="label">Wishlist</span>
        </ion-button>
      </ion-buttons>

      <div class="navbar-spacer"></div>
      <app-search-bar class="search-bar"></app-search-bar>
      <div class="authButton">
        <button mat-button class="toolbar-button" *ngIf="(isAuthenticated | async) === null" (click)="signIn()">
          Sign in
        </button>
        <div class="profile"
         *ngIf="(isAuthenticated | async) !== null" 
         (click)="signOut()">
        <ion-icon name="person-circle" aria-hidden="true" class="circular-button"></ion-icon>
      </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>