<ng-template #breadcrumbTemplate let-routerState="routerState">
  <ng-container
    *ngFor="let crumb of routeBreadcrumbFacade.getBreadcrumbs(routerState)">
    <ion-breadcrumb routerLink="{{ crumb.url }}"
      >{{ crumb.label }}
      <ion-icon slot="separator" name="chevron-forward-outline"></ion-icon>
    </ion-breadcrumb>
  </ng-container>
</ng-template>

<ng-container *ngIf="routeBreadcrumbFacade.routerState$ | async as routerState">
  <ion-item lines="none">
    <div class="breadcrumb-desktop-container" *viewSize="'desktop'">
      <ion-breadcrumbs
        [maxItems]="4"
        [itemsBeforeCollapse]="0"
        [itemsAfterCollapse]="4">
        <ng-container
          [ngTemplateOutlet]="breadcrumbTemplate"
          [ngTemplateOutletContext]="{
            routerState: routerState
          }"></ng-container>
      </ion-breadcrumbs>
    </div>
    <div class="breadcrumb-mobile-container" *viewSize="'mobile'">
      <ion-breadcrumbs
        [maxItems]="2"
        [itemsBeforeCollapse]="0"
        [itemsAfterCollapse]="2">
        <ng-container
          [ngTemplateOutlet]="breadcrumbTemplate"
          [ngTemplateOutletContext]="{
            routerState: routerState
          }"></ng-container>
      </ion-breadcrumbs>
    </div>
  </ion-item>
</ng-container>
