<ion-card>
  
  <div class="discount-tag" *ngIf="product.min_price_discount_rate !== undefined && product.min_price_discount_rate > 0">
    <ion-label>-{{ product.min_price_discount_rate*100 }}%</ion-label>
  </div>
  <ion-img
    [src]="getOneImg(product?.min_price_img_array)"
    (click)="goToProductPage(product.id)"></ion-img>
  <ion-card-content>
    <div>
      <div>
        <ion-card-title (click)="goToProductPage(product.id)">{{
          product.name
        }}</ion-card-title>
        <p>{{ product.category }}</p>
      </div>
      <div style="display: flex; align-items: center">
        <h4 style="margin-right: 90px">R{{ product.min_price }}</h4>
        <ion-button
          (click)="toggleHeart()"
          class="wishlist-button"
          shape="round"
          fill="clear"
          mode="ios">
          <ion-icon
            [name]="(isHearted | async) ? 'heart' : 'heart-outline'"
            name="heart"
            style="color: red"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
