ion-card {
  display: flex;
  width: 240px;
  height: 330px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.discount-tag {
  position: absolute; 
  display: inline-flex;
  padding: 0px 8px;
  align-items: center;
  gap: 10px;
  z-index: 100; 
  border-radius: 12px;
  background: var(--c-5-e, #ecf6f6);
  ion-label {
    color: var(--c-5-a, #37d0d6);
    font-family: Poppins,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
ion-img {
  object-fit: cover !important;
  width: 208px;
  height: 180px;
  flex-shrink: 0;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  justify-content: center;

  ion-card-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    color: var(--c-1-a, #151515);
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
  h4 {
    color: var(--c-1-a, #151515);
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  p {
    color: var(--c-1-b, #575757);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .price-and-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    align-items: center;
   ion-button {
    --padding-start: 0;
    --padding-end: 0;
    padding: 2px;
    margin: 0;
    box-shadow: none;
    background: transparent;

    ::part(native){
      padding: 0;
    }
   }

  }
}


