<ion-card>
  <div class="discount-tag" *ngIf="product.min_price_discount_rate > 0">
    <ion-label
      >-{{
        product.min_price_discount_rate * 100 | number : '1.0-0'
      }}%</ion-label
    >
  </div>
  <ion-img
    [src]="getOneImg(product?.min_price_img_array)"
    (click)="goToProductPage(product.id)"></ion-img>
  <ion-card-content>
    <div>
      <div>
        <ion-card-title (click)="goToProductPage(product.id)">{{
          product.name
        }}</ion-card-title>
        <p>{{ product.category }}</p>
      </div>
      <div class="price-and-buttons">
        <h4>R{{ product.min_price | number : '1.0-0' }}</h4>
        <div class="button-container">
          <ion-button
            (click)="toggleBookmark()"
            class="bookmark-button"
            shape="round"
            fill="clear"
            mode="ios">
            <ion-icon
              [name]="(isBookmark | async) ? 'add' : 'add-outline'"
              style="color: var(--c-5-a, #37d0d6)"></ion-icon>
          </ion-button>
          <ion-button
            (click)="toggleHeart()"
            class="wishlist-button"
            shape="round"
            fill="clear"
            mode="ios">
            <ion-icon
              [name]="(isHearted | async) ? 'heart' : 'heart-outline'"
              style="color: red"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
