ion-card {
  display: flex;
  width: 200px;
  height: 330px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.discount-tag {
  position: absolute; /* Position the discount tag */
  display: inline-flex;
  padding: 0px 8px;
  align-items: center;
  gap: 10px;
  z-index: 1; /* Ensure the tag appears above the image */
  border-radius: 12px;
  background: var(--c-5-e, #ecf6f6);
  ion-label {
    color: var(--c-5-a, #37d0d6);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
ion-img {
  object-fit: cover !important;
  width: 168px;
  height: 180px;
  flex-shrink: 0;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  text-align: left;

  ion-card-title {
    color: var(--c-1-a, #151515);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h4 {
    color: var(--c-1-a, #151515);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  p {
    color: var(--c-1-b, #575757);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
