/*@use "utils" as *;*/

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(124, 208, 211);
$color_type_2: rgb(169, 169, 169);
$color_type_3: rgb(209, 209, 209);
$color_type_4: rgb(21, 21, 21);
$color_type_5: rgb(247, 249, 249);
$color_type_6: rgb(55, 208, 214);
$color_type_7: rgb(87, 87, 87);
$color_type_8: rgb(193, 237, 233);

$padding_type_0: 0px;

$border_radius_type_0: 12px 12px 12px 12px;

$font_type_0: 600 50px/1.39 'Poppins', Helvetica, Arial, serif;
$font_type_1: 600 32px/1.39 'Poppins', Helvetica, Arial, serif;
$font_type_2: 700 15px/1.53 'Poppins', Helvetica, Arial, serif;
$font_type_3: 400 14px/1.35 'Open Sans', Helvetica, Arial, serif;
$font_type_4: 400 12px/1.33 'Open Sans', Helvetica, Arial, serif;
$font_type_5: 600 1em/1.39 'Poppins', Helvetica, Arial, serif;

.navbar {
  background-color: $color_type_8 !important;
}

.navbar a {
    transition: color 0.3s ease-in-out; 
    color: #444;
    text-decoration: none;
}
  

.search-input{
    margin-right: 30px;
    width: 500px;
    border-radius: 20px !important;
    padding-left: 50px;
    height: 40px;
}

.fa-search {
    height: 26px; 
}

.input-group-text {
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 0.375rem 0.75rem;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu a {
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  color: #fff;
  background-color: #007bff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.filter {
  margin-top: 2rem;
  text-align: left;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

.filter-options label {
  display: inline-block;
}

.footer{
    background-color: $color_type_8;
    padding-top: 60px;
    margin-top: 30%;
  }
  .sort-by{
    margin-top: 1rem;
    display: inline-block;
  }

  .footer a {
    transition: color 0.3s ease-in-out; 
    color: #444;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .icons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #444 ;
   
  }
  
  .welcomeMsg_logo_footer {
    width:100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-card {
    margin-top: 4rem;
    margin-left: 2rem;
    //margin: 0 0 1rem 0;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    cursor: pointer;
  
    img {
      width: 100%;
      height: auto;
    }
  
    h3 {
      margin-top: 0;
      font-size: 1.2rem;
    }
  
    p {
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
  }
