<app-navbar></app-navbar>
<ion-content class="global-ion-content">
    <div class="ion-content-wrapper">
        <!--<div class="container">-->
            <div class="side-nav-container" *ngIf="profile$ | async as profile">
                <app-customer-profile-sidenav
                [profile]="{username: profile.username}">
                </app-customer-profile-sidenav> 
            </div>
            
        
            <div class="wishlist-container" *ngIf="bool">
                <h2>My Wishlist</h2>
                <div class="product-card-no">
              
                    <img src="assets\images\no-image.jpeg" alt="No Product Found" class="nimage" />
                  </div>
                  <h3>Oops! It's empty here!</h3>
                    <p>
                      Fill this page with your favourite products. 
                      All you have to do is find a product you like, click the heart icon and it will be added to your wishlist. 
                    </p>
            </div>

            <div class="wishlist-container-cards" *ngIf="!bool">
                <h3>My Wishlist</h3>
                <!--<div class="row" style="grid-auto-rows: auto">
                    <div class="col-md-3 col-12" style="grid-auto-columns: auto; min-width: 300px">
                        <app-product-card ></app-product-card>
                         Add an empty column after every 4th product card, but only if there are more than 4 product cards
                        <div class="col-md-1" ></div>
                      </div>
                </div>-->
                wishlisted products
                
                  
        </div>
        <!--</div>-->
    </div>
    <app-footer></app-footer>
</ion-content>

