<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
          ">
          <ion-text style="text-align: center">
            <h2>Forgot your password? <br />Find it here!</h2>
          </ion-text>
          <form [formGroup]="forgotForm">
            <div class="input-error-box-wrapper">
              <div class="input-error-box">
                <ion-input
                  type="email"
                  label="Email"
                  placeholder="example@emall.com"
                  labelPlacement="floating"
                  fill="outline"
                  formControlName="email"
                  required="true"></ion-input>

                <div class="error-container">
                  <div
                    class="error-message"
                    *ngIf="
                      getFormControl('email')?.invalid &&
                      getFormControl('email')?.dirty &&
                      getFormControl('email')?.touched
                    ">
                    <ion-text color="danger" size="small"
                      >Invalid email address</ion-text
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="submit-button" *ngIf="!nextCode">
              <ion-button
                [disabled]="getFormControl('email')?.invalid"
                (click)="requestForgotPasswordCode()">
                Request
              </ion-button>
            </div>
          </form>

          <ng-container *ngIf="nextCode; then confirm"> </ng-container>

          <ion-item class="text-center">
            <ion-text id="already-have-acc-text">Back to sign in</ion-text>
            <ion-text color="success">
              <a routerLink="/sign-in">Sign In</a>
            </ion-text>
          </ion-item>
        </div>
      </ion-col>

      <ion-col *viewSize="'desktop'" class="side-pannel">
        <div>
          <h1 class="welcome-header">
            Welcome to SA's leading<br />comparison service for
            <div class="welcome-header-accent">online shopping</div>
          </h1>

          <ion-img
            id="logo"
            src="assets/images/logo.png"
            alt="E-Mall"></ion-img>

          <h3 class="welcome-footer">
            Discover<br />Compare<br />Shop<br />E-Mall Has It All!
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #confirm>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="input-error-box-wrapper" @initFadeInOut>
      <div class="input-error-box">
        <ion-input
          color="primary"
          type="password"
          label="New password"
          formControlName="password"
          labelPlacement="floating"
          fill="outline">
        </ion-input>

        <div class="error-container">
          <ng-container
            *ngIf="
              getFormControl('password')?.invalid &&
              getFormControl('password')?.dirty &&
              getFormControl('password')?.touched
            ">
            <ng-container *ngFor="let validation of passwordErrors.password">
              <div
                class="success-message"
                *ngIf="!getFormControl('password')?.hasError(validation.type)">
                <ion-icon
                  size="small"
                  color="success"
                  name="information-circle-outline"></ion-icon>
                <ion-text color="success" size="small">{{
                  validation.message
                }}</ion-text>
              </div>
              <div
                class="error-message"
                *ngIf="getFormControl('password')?.hasError(validation.type)">
                <ion-icon
                  size="small"
                  color="danger"
                  name="information-circle-outline"></ion-icon>
                <ion-text color="danger" size="small">{{
                  validation.message
                }}</ion-text>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="input-error-box">
        <ion-input
          type="password"
          label="Confirm new password"
          labelPlacement="floating"
          formControlName="cpassword"
          fill="outline"
          required="true"
          minlength="8">
        </ion-input>

        <div class="error-container">
          <div
            class="error-message"
            *ngIf="
              getFormControl('cpassword')?.invalid &&
              getFormControl('cpassword')?.dirty &&
              getFormControl('cpassword')?.touched
            ">
            <ion-text color="danger" size="small"
              >Password does not match</ion-text
            >
          </div>
        </div>
      </div>
    </div>
    <!-- </form>
  <form [formGroup]="forgotForm"> -->
    <div class="input-error-box-wrapper" @initFadeInOut>
      <div class="input-error-box">
        <ion-input
          type="text"
          label="Confirm Code"
          placeholder="Verification Code"
          labelPlacement="floating"
          formControlName="code"
          fill="outline"
          required="true"></ion-input>

        <div class="error-container">
          <div
            class="error-message"
            *ngIf="
              forgotForm.get('code')?.invalid &&
              forgotForm.get('code')?.dirty &&
              forgotForm.get('code')?.touched
            ">
            <ion-text color="danger" size="small"
              >Invalid code, check your email
              {{ forgotForm.get('code')!.value }}</ion-text
            >
          </div>
        </div>
      </div>
      <ion-label> Verification Code has been sent to your email </ion-label>
      <br />
      <ion-label>
        Only if the verification code is valid and email address exist,
      </ion-label>
      <br />
      <ion-label> You will be able to change password </ion-label>
      <div class="submit-button">
        <ion-button
          id="submit-button"
          [disabled]="forgotForm.invalid"
          type="submit"
          >Submit</ion-button
        >
      </div>
    </div>
  </form>
</ng-template>
