<div class="modal-container">
  <ion-item lines="none" class="modal-header-item">
    <ion-text class="modal-header"> Edit Name </ion-text>
    <ion-button
      class="close-button"
      fill="clear"
      shape="round"
      mode="ios"
      slot="end"
      (click)="closePopover()">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="modal-container" *ngIf="combos$">
    <form [formGroup]="newForm">
      <!-- Wrap form elements in a formGroup -->
      <ion-list>
        <ion-item class="input">
          <ion-label position="floating">Name:</ion-label>
          <ion-input
            (input)="onChange()"
            formControlName="newName"
            clearInput></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        mode="ios"
        color="primary"
        (click)="editCombo()"
        [disabled]="!isChanged"
        >Done</ion-button
      >
    </form>
  </div>
</div>
