<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"
      rel="stylesheet" />
    <link href="search.component.scss" rel="stylesheet" />
  </head>

  <body>
    <app-navbar></app-navbar>

    <main class="landing main">
      <div class="search-results">
        <h1>Search Results</h1>
        <p>Products found: {{ (searchResults$ | async)?.length }}</p>
        <!-- <div class="sort-panel"> -->
        <mat-form-field class="sort-panel">
          <mat-label>Sort Options</mat-label>
          <mat-select
            [(value)]="selectedSortOption"
            (selectionChange)="onSortOptionChange()">
            <mat-option value="">Default</mat-option>
            <mat-option value="-price">Lowest price</mat-option>
            <mat-option value="price">Highest price</mat-option>
            <mat-option value="name">Name(A-Z)</mat-option>
            <mat-option value="-name">Name(Z-A)</mat-option>
            <mat-option value="discount">Price drop</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- </div> -->

        <mat-divider></mat-divider>
        <!--filter-->

        <mat-accordion class="filter-menu" multi>
          <h2 class="filter-title">Filter</h2>
          <!-- Brand -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Brand </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Brand panel -->
            <mat-checkbox
              *ngFor="let brand of brandOptions"
              [checked]="selectedBrands.includes(brand)"
              [value]="brand"
              >{{ brand }}</mat-checkbox
            >

            <!-- ... -->
          </mat-expansion-panel>

          <!-- ... -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Category </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Category panel -->
            <mat-checkbox
              *ngFor="let category of categoryOptions"
              [checked]="selectedCategories.includes(category)"
              [value]="category"
              >{{ category }}</mat-checkbox
            >
          </mat-expansion-panel>

          <!-- ... -->

          <!-- Price -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Price </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Price panel -->
            <input
              type="number"
              [(ngModel)]="minPrice"
              placeholder="Minimum Price" />
            <p></p>
            <input
              type="number"
              [(ngModel)]="maxPrice"
              placeholder="Maximum Price" />

            <!-- ... -->
          </mat-expansion-panel>

          <!-- Inventory -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Inventory </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Inventory panel -->
            <mat-slide-toggle
              [aria-label]="
                min_price_in_stock
                  ? 'Disable in-stock filter'
                  : 'Enable in-stock filter'
              ">
              Show only in stock
            </mat-slide-toggle>
            <!-- ... -->
          </mat-expansion-panel>

          <!-- Seller -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Seller </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Seller panel -->

            <mat-checkbox
              *ngFor="let seller of sellerOptions"
              [checked]="selectedSellers.includes(seller)"
              [value]="seller"
              >{{ seller }}</mat-checkbox
            >

            <!-- ... -->
          </mat-expansion-panel>

          <!-- Price -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Price </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Price panel -->
            <mat-slider class="slider" showTickMarks>
              <input matSliderStartThumb />
              <input matSliderEndThumb />
            </mat-slider>
            <!-- ... -->
          </mat-expansion-panel>

          <!-- Inventory -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Inventory </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for Inventory panel -->
            <mat-slide-toggle
              [aria-label]="
                min_price_in_stock
                  ? 'Disable in-stock filter'
                  : 'Enable in-stock filter'
              ">
              Show only in stock
            </mat-slide-toggle>
            <!-- ... -->
          </mat-expansion-panel>

          <!--Sale-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Sale </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content for discount panel -->
            <mat-radio-group>
              <mat-radio-button value="50">50% or more</mat-radio-button>
              <mat-radio-button value="25">25% or more</mat-radio-button>
              <mat-radio-button value="10">10% or more</mat-radio-button>
              <mat-radio-button value="5">5% or more</mat-radio-button>
            </mat-radio-group>
            <!-- ... -->
          </mat-expansion-panel>
        </mat-accordion>

        <!--products-->
        <div class="product-card">
          <ng-container *ngIf="searchResults$ | async as products">
            <div class="row">
              <div
                class="col-md-3"
                *ngFor="let product of products; let i = index">
                <mat-card
                  class="product-card"
                  (click)="goToProductPage(product.id)">
                  <img
                    mat-card-image
                    [src]="getOneImg(product?.min_price_img_array)"
                    alt="Product Image"
                    class="product-image" />
                  <mat-card-content>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{
                      product.category
                    }}</mat-card-subtitle>
                    <mat-card-title>R {{ product.min_price }}</mat-card-title>
                  </mat-card-content>
                  <mat-card-actions>
                    <mat-icon
                      mat-icon-button
                      color="warn"
                      aria-label="Example icon button with a heart icon">
                      <mat-icon>favorite</mat-icon>
                    </mat-icon>
                  </mat-card-actions>
                </mat-card>
                <!-- </mat-sidenav-content> -->
                <!-- </mat-sidenav-container> -->

                <!-- Add an empty column after every 4th product card, but only if there are more than 4 product cards -->
                <div
                  class="col-md-1"
                  *ngIf="(i + 1) % 4 === 0 && products.length > 4"></div>
              </div>
            </div>
          </ng-container>

          <div
            class="search-results-container"
            *ngIf="(searchResults$ | async)?.length === 0">
            <div class="product-card-no">
              <!-- <img src="path/to/placeholder-image" alt="No Product Found" /> -->
              <h3>No Products Found</h3>
              <p>
                The product you have searched for was not found. Please try
                again.
              </p>
            </div>
          </div>
          <!--paginator-->
          <div class="mat-paginator">
            <ng-container *ngIf="searchResults$ | async as products">
              <mat-paginator
                [length]="totalSearchCount$ | async"
                [pageSizeOptions]="[10, 20, 50, 100]"
                aria-label="Select page"
                [pageIndex]="currentPage$ | async"
                [pageSize]="itemsPerPage$ | async"
                (page)="onPageChange($event)"></mat-paginator>
            </ng-container>
          </div>

          <!--end of paginator-->
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>
