ion-header {
    ion-toolbar {
      --color: #333;
      padding: 16px;
      
    }
}
  
    ion-title {
      font-size: 20px;
      font-weight: bold;
      margin-left: 12rem;
      --color:#333;
    }

    .container {
        //max-width: px; /* Set the maximum width as needed */
        padding: 30px; /* Add padding around the container */
        border-radius: 10px; /* Apply rounded corners */
      }

      .title-row {
        margin-top: 10px;
        max-width: 280px;
        display: flex;
      }
      
      .title {
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
        color: gray;
        width: 40px;
        font-size: 17px;
        text-decoration: none;
      }
      
      .title.selected {
        color: black;
        text-decoration: underline;
      }


      .search-bar {
        display: flex;
        align-items: center;
        padding: 8px;
        min-width: 800px;
        margin-right: 16.5rem;
        margin-left: 1rem;
        border-radius: 20px;
      }
      
      .search-box {
        flex-grow: 1;
        max-width: 700px;
        border-radius: 60px;
      }
      
      .sort-bar{
        display: flex;
        align-items: center;
        padding: 8px;
        max-width: 280px;
        float: right;
      }

      .search-sort-container {
        display: flex;
        align-items: center;
      }

      .inventory-container{
        margin-top: 10px;
        margin-left: 13rem;
        margin-right: 1rem;
        box-sizing: border-box;
        border-radius: 60px;
        background-color: #f2f2f2;
        padding: 10px;
      }


      
      
      
  
  