<ion-card mode="md">
  <ion-card-header
    style="
      border-bottom: 0.5px solid rgba(190, 190, 190, 0.541);
      position: relative;
    ">
    <div style="position: absolute; right: 0; top: 0">
      <ion-button
        slot="end"
        fill="clear"
        mode="ios"
        style="color: grey"
        (click)="delete(item.id)">
        <ion-icon size="small" name="close-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-label position="stacked">Title</ion-label>
    <ion-card-title style="font-size: medium">
      {{ item.notification.title }}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content style="width: 100%; --width: 100%; min-height: 100%">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-height: 7rem;
      ">
      <ion-label style="margin-bottom: 7px" position="stacked"
        >Content</ion-label
      >

      {{ item.notification.body }}
      <div style="flex: 1"></div>
      <ion-label
        style="
          justify-self: end;
          padding-top: 4px;
          text-align: end;
          font-style: italic;
          font-size: small;
        "
        >{{ calculatedTime }}</ion-label
      >
    </div>
  </ion-card-content>
</ion-card>
