<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Product Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input [(ngModel)]="product.product_name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Category:</ion-label>
      <ion-input [(ngModel)]="product.product_category"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Inventory Status:</ion-label>
      <ion-toggle [(ngModel)]="product.in_stock"></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Original Price:</ion-label>
      <ion-input [(ngModel)]="product.original_price"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Discount Rate:</ion-label>
      <ion-input [(ngModel)]="product.discount_rate"></ion-input>
    </ion-item>
  
    <!-- Add other input fields for other product details -->
  </ion-list>
  
  <div class="buttons">
    <ion-button class="savebtn" (click)="saveChanges()">Save</ion-button>
    <ion-button color="danger" (click)="cancelEdit()">Cancel</ion-button>
  </div>


</ion-content>
  