<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes" /> -->
    <title>Under Construction</title>
  </head>

  <body>
    <app-navbar></app-navbar>
    <div
      style="
        display: flex;
        flex-direction: column;
        min-height: 800px;
        vertical-align: middle;
        text-align: center;
        justify-content: center;

        align-items: stretch;
        align-content: center;
      ">
      <div></div>
      <div style="align-items: center">
        <h1 style="font-size: 100px">Coming Soon</h1>
      </div>
      <div></div>
    </div>
    <!-- <main class="pending main">
      <div class="cell">
        <section class="section1__section1">
          <h1 class="section1__hero_title">Coming Soon</h1>
          <div class="section1__group">
            <div class="section1__group1">
              <hr size="1" class="section1__line" />
              <div class="section1__group2">
                <article class="section1__box">
                  <div class="spacer"></div>
                  <div class="cell">
                    <a class="section1__highlights" href="/home">Go Home</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main> -->
  </body>
  <footer>
    <app-footer></app-footer>
  </footer>
</html>
