<!-- <div class="menu-content"> -->
<ng-container *ngIf="!settings; else settingsPannel">
  <ion-header style="height: 65px">
    <ion-toolbar style="height: 100%" color="primary">
      <ion-title> Notification </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openSettings()">
          <ion-icon
            style="font-size: 1.5rem; color: grey"
            name="settings-sharp"></ion-icon>
        </ion-button>

        <ion-button (click)="closeMenu()">
          <ion-icon
            style="font-size: 2rem; color: grey"
            name="close-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div style="position: relative; height: 100%; flex-direction: column">
      <ng-container
        *ngIf="
          [!notificationFacade.isInitial] &&
            (notificationList$ | async) as notificationList;
          else noNotifications
        ">
        <ng-container
          *ngIf="
            notificationList !== null &&
              notificationList.length > 0 &&
              notificationFacade;
            else noNotifications
          ">
          <div
            style="
              display: flex;
              align-items: end;
              justify-content: right;
              padding-right: 1.5rem;
            ">
            <ion-button
              fill="clear"
              size="small"
              mode="ios"
              color="secondary"
              (click)="readAll()">
              <ion-icon
                style="font-size: 1rem"
                slot="start"
                name="checkmark-done-outline"></ion-icon>
              Mark all</ion-button
            >
            <ion-button
              fill="clear"
              size="small"
              mode="ios"
              color="secondary"
              (click)="deleteAll()">
              <ion-icon
                style="font-size: 1rem"
                slot="start"
                name="trash-outline"></ion-icon>
              Delete all</ion-button
            >

            <ion-button
              fill="clear"
              size="small"
              mode="ios"
              color="secondary"
              (click)="refresh()">
              <ion-icon
                style="font-size: 1rem"
                slot="start"
                name="reload-outline"></ion-icon>
              Refresh</ion-button
            >
          </div>
          <ion-accordion-group
            (ionChange)="onIonChange($event)"
            (ionBlur)="readPrevClicked()"
            [value]="notificationFacade.accordionOpen$ | async">
            <ion-accordion
              *ngFor="let item of notificationList; let index = index"
              [value]="item">
              <ion-item slot="header">
                <ion-icon
                  *ngIf="!item.is_read; else readIcon"
                  name="ellipse"
                  color="danger"
                  slot="start"></ion-icon>
                <ng-template #readIcon>
                  <ion-icon
                    name="ellipse"
                    class="read-icon"
                    slot="start"></ion-icon>
                </ng-template>
                <ion-label>{{ item.notification.title }}</ion-label>
                <ion-label class="accordion-timestamp" slot="end">{{
                  reactiveFormatTime(item.timestamp)
                }}</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon"
                  style="display: none"
                  name="logo-ionic"
                  slot="end"
                  color="white">
                </ion-icon>
              </ion-item>

              <app-notification-card
                slot="content"
                [item]="item"
                [calculatedTime]="formatTime(item.timestamp)">
              </app-notification-card>
            </ion-accordion>
          </ion-accordion-group>

          <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ng-container>
      </ng-container>

      <div
        *ngIf="(notificationFacade.isLoading | async) === true"
        style="
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          align-items: center;
          justify-content: center;
          align-content: center;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.3);
        ">
        <ion-spinner
          name="lines"
          style="height: 3rem; width: 3rem"></ion-spinner>
      </div>
    </div> </ion-content
></ng-container>

<ng-template #noNotifications>
  <div
    style="
      position: relative;
      display: flex;
      height: 100%;
      justify-content: center;
      vertical-align: middle;
      flex-direction: column;
      text-align: center;
    ">
    <ion-label style="opacity: 0.5">Empty notification</ion-label>
    <img
      src="assets\images\inbox.jpeg"
      alt="No notifications received"
      class="nimage" />
  </div>
</ng-template>
<ng-template #loading> </ng-template>
<ng-template #settingsPannel>
  <ion-header style="height: 65px">
    <ion-toolbar style="height: 100%" color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon
            style="font-size: 1.9rem; color: grey"
            name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> Settings </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <ion-icon
            style="font-size: 2rem; color: grey"
            name="close-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-settings-pannel></app-settings-pannel
></ng-template>
