<!-- <div class="menu-content"> -->
<ng-container *ngIf="!settings; else settingsPannel">
  <ion-header style="height: 65px">
    <ion-toolbar style="height: 100%" color="primary">
      <ion-title> Notification </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openSettings()" mode="ios">
          <ion-icon
            style="font-size: 1.5rem; color: grey"
            name="settings-sharp"></ion-icon>
        </ion-button>

        <ion-button (click)="closeMenu()" mode="ios">
          <ion-icon
            style="font-size: 2rem; color: grey"
            name="close-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-container *ngIf="notificationList$ | async as notificationList">
      <ion-accordion-group
        (ionChange)="onIonChange($event)"
        *ngIf="notificationList.length > 0; else noNotifications">
        <ion-accordion
          *ngFor="let item of notificationList; let index = index"
          [value]="item">
          <ion-item slot="header">
            <ion-icon
              *ngIf="!item.is_read; else readIcon"
              name="ellipse"
              color="danger"
              slot="start"></ion-icon>
            <ng-template #readIcon>
              <ion-icon
                name="ellipse"
                class="read-icon"
                slot="start"></ion-icon>
            </ng-template>
            <ion-label>{{ item.notification.title }}</ion-label>
            <ion-label class="accordion-timestamp" slot="end">{{
              reactiveFormatTime(item.timestamp)
            }}</ion-label>
            <ion-icon
              class="ion-accordion-toggle-icon"
              style="display: none"
              name="logo-ionic"
              slot="end"
              color="white">
            </ion-icon>
          </ion-item>

          <app-notification-card
            slot="content"
            [item]="item"
            [calculatedTime]="formatTime(item.timestamp)">
          </app-notification-card>
        </ion-accordion>
      </ion-accordion-group>
      <!-- <div *ngIf="notificationList.length > 0; else noNotifications">
      <app-notification-card
        *ngFor="let item of notificationList; let index = index"
        [item]="item"></app-notification-card>
    </div> -->
      <ng-template #noNotifications>
        <p>No notifications received</p>
      </ng-template>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <!-- </div> -->
  </ion-content></ng-container
>
<!-- </div> -->
<ng-template #settingsPannel>
  <ion-header style="height: 65px">
    <ion-toolbar style="height: 100%" color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="back()" mode="ios">
          <ion-icon
            style="font-size: 1.9rem; color: grey"
            name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> Settings </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()" mode="ios">
          <ion-icon
            style="font-size: 2rem; color: grey"
            name="close-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-settings-pannel></app-settings-pannel
></ng-template>
