<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<app-seller-nav></app-seller-nav>

<ion-content>
  <ng-container *ngIf="query$ | async as query">
    <div class="inventory-container">
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="title-row">
        <div
          class="title"
          *ngFor="let option of options"
          [class.selected]="option.key === query.filterOptions?.filter_in_stock"
          (click)="selectOption(option.key)">
          {{ option.value }}
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div class="search-sort-container">
        <!-- Search functionality -->
        <div class="search-bar">
          <ion-searchbar
            class="search-box"
            placeholder="Search products..."
            type="search"
            [(ngModel)]="serachKeyword"
            [debounce]="2000"
            (ionInput)="onSearchInputChange($event)"></ion-searchbar>
        </div>
        <!-- End of search  -->

        <!-- Sort functionality -->
        <!-- &nbsp; -->
        <div class="sort-bar">
          <div class="title-box">Sort by:</div>
          <select
            class="sort-box"
            [(ngModel)]="sortOption"
            (ngModelChange)="onSortOptionChange($event)">
            <option value="name">Name (A-Z)</option>
            <option value="-name">Name (Z-A)</option>
            <option value="price">Lowest Price</option>
            <option value="-price">Highest Price</option>
            <option value="discount">Highest Discount</option>
            <option value="-discount">Lowest Disocunt</option>
          </select>
        </div>
        <!-- End of Sort functionality -->
      </div>

      <div class="container">
        <ion-list lines="full">
          <ion-item>
            <ion-grid>
              <ion-row class="col-title">
                <ion-col size="1"><b>Product ID</b></ion-col>
                <ion-col size="4"><b>Name</b></ion-col>
                <ion-col size="2"><b>Inventory Status</b></ion-col>
                <ion-col size="2"><b>Original Price</b></ion-col>
                <ion-col size="1"><b>Discount Rate</b></ion-col>
                <ion-col size="2"><b>Current Price</b></ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ng-container *ngIf="searchResults$ | async as productsellers">
            <ion-item
              *ngFor="let product of productsellers"
              (click)="selectProduct(product)">
              <ion-grid>
                <ion-row>
                  <ion-col size="1">{{ product.product }}</ion-col>
                  <ion-col size="4">{{ product.product_name }}</ion-col>
                  <ion-col size="2">{{
                    product.in_stock ? 'In Stock' : 'Out of Stock'
                  }}</ion-col>
                  <ion-col size="2">R {{ product.original_price }}</ion-col>
                  <ion-col size="1">{{ product.discount_rate }}</ion-col>
                  <ion-col size="2">R {{ product.price }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </div>
    <div class="mat-paginator">
      <ng-container *ngIf="searchResults$ | async as products">
        <mat-paginator
          #paginator
          [length]="totalSearchCount$ | async"
          [pageSizeOptions]="[10, 20, 50, 100]"
          aria-label="Select page"
          [pageIndex]="query.page"
          [pageSize]="query.per_page"
          (page)="onPageChange($event)"></mat-paginator>
      </ng-container>
    </div>
  </ng-container>
</ion-content>
