<span class="search-bar-wrapper">
  <mat-form-field
    style="vertical-align: middle !important; margin-bottom: 12px"
    appearance="outline"
    class="dense-3 search-bar"
    subscriptSizing="dynamic">
    <input
      #searchInput
      matInput
      [placeholder]="placeHolder"
      [formControl]="searchInputController"
      (keydown)="keyDownFunction($event)"
      [matAutocomplete]="auto" />

    <button
      class="toolbar-button"
      *ngIf="!searchInputController.value"
      matSuffix
      mat-icon-button
      aria-label="Search"
      (click)="searchIconFunction()">
      <mat-icon>search</mat-icon>
    </button>
    <button
      class="toolbar-button"
      *ngIf="searchInputController.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchInputController.reset()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search()">
      <mat-option
        *ngFor="let option of suggestions$ | async"
        [value]="option.name">
        <img
          alt="pro img"
          class="example-option-img"
          [src]="
            option.min_price_img_array
              ? option.min_price_img_array[0]
              : 'asset/images/no-image.png'
          "
          height="25px" />
        <span>{{ option.name }}</span> |
        <small>R: {{ option.min_price }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</span>
