<app-seller-nav></app-seller-nav>
<ion-content>
  <div class="content">
    <div
      style="
        display: flex;
        padding: 10px;
        align-items: flex-start;
        align-self: stretch;
      ">
      <h2>Products</h2>
    </div>
    <ion-searchbar
      class="search-box"
      placeholder="Search products..."
      type="search"
      mode="md"
      [(ngModel)]="searchKeyword"
      [debounce]="2000"
      (ionInput)="onSearchInputChange($event)"></ion-searchbar>
    <div class="container">
      <div class="table">
        <ion-list lines="full">
          <ion-item>
            <ion-grid>
              <ion-row class="col-title">
                <ion-col size="1"><b>Check</b></ion-col>
                <ion-col size="5"><b>Product Name</b></ion-col>
                <ion-col size="2"><b>Product Clicks</b></ion-col>
                <ion-col size="2"><b>Favourited</b></ion-col>
                <ion-col size="2"><b>Link Clicks</b></ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ng-container *ngIf="topProducts$ | async as topProducts">
            <ion-item *ngFor="let product of topProducts">
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <ion-checkbox
                      [checked]="productNames.includes(product.product_name)"
                      (ionChange)="
                        getSelectedProductData(product.product_name)
                      "></ion-checkbox>
                  </ion-col>
                  <ion-col size="5">{{ product.product_name }}</ion-col>
                  <ion-col size="2">{{ product.clicks }}</ion-col>
                  <ion-col size="2">{{ product.favourites }}</ion-col>
                  <ion-col size="2">{{ product.link_clicks }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <div class="mat-paginator">
              <ng-container *ngIf="topProducts$ | async as topProducts">
                <mat-paginator
                  [length]="totalSearchCount$ | async"
                  [pageSizeOptions]="[10, 20, 50, 100]"
                  aria-label="Select page"
                  [pageIndex]="currentPage"
                  [pageSize]="itemsPerPage"
                  (page)="onPageChange($event)">
                </mat-paginator>
              </ng-container>
            </div>
          </ng-container>
        </ion-list>
      </div>
    </div>
    <div class="container">
      <div class="product-graph">
        <canvas id="product-clicks-chart"></canvas>
      </div>
      <div class="date">
        <div>
          <label for="date-select">Select date range:</label>
        </div>
        <div>
          <!-- <select
            name=""
            id="date-select"
            [(ngModel)]="selectedSortOption"
            (ngModelChange)="updateDateRange()">
            <option value="1_day">Day</option>
            <option value="7_days">Week</option>
            <option value="30_days">Month</option>
            <option value="6_months">6 Months</option>
            <option value="1_year">Year</option>
          </select> -->
          <label for="start-date">Start Date:</label>
          <input
            type="date"
            id="start-date"
            name="start-date"
            [(ngModel)]="startDate"
            (ngModelChange)="updateDateRange()" />

          <label for="end-date">End Date:</label>
          <input
            type="date"
            id="end-date"
            name="end-date"
            [(ngModel)]="endDate"
            (ngModelChange)="updateDateRange()"
            [max]="currentDate" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
