<app-navbar></app-navbar>

<ion-content class="global-ion-content">
  <ng-container *ngIf="product$ | async as product">
    <app-category-breadcrumb [categoryList]="product"></app-category-breadcrumb>
  </ng-container>
  <div class="ion-content-wrapper">
    <ng-container *ngIf="product$ | async as product; else loading">
      <ion-grid class="product-page" mode="ios">
        <ion-row>
          <ion-col class="top-col">
            <div class="mini-thumbnails">
              <ion-thumbnail
                *ngFor="let img of product.min_price_img_array; let i = index">
                <ion-img
                  [src]="img ? img : 'assets/images/default.png'"
                  (click)="selectImage(img)" />
              </ion-thumbnail>
            </div>
            <!-- </ion-col> -->
            <!-- <ion-col> -->
            <!-- <ion-card> -->
            <div class="main-img-container">
              <div class="product-card">
                <ion-img
                  class="product-image"
                  (ionImgDidLoad)="this.loader.loading.next(false)"
                  [src]="
                    selectedImage
                      ? selectedImage
                      : getOneImg((product$ | async)?.min_price_img_array)
                  " />

                <div class="min-price-discount_rate">
                  <span
                    class="discount-tag"
                    *ngIf="product.min_price_discount_rate !== 0">
                    <ion-label>
                      -{{
                        (product.min_price_discount_rate ?? 0) * 100
                          | number : '1.0-0'
                      }}%</ion-label
                    >
                  </span>
                </div>
                <div class="bookmark-container">
                  <ion-button
                    color="tertiary"
                    (click)="toggleBookmark()"
                    mode="ios">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
            <!-- </ion-col> -->
            <!-- <ion-col size="auto"></ion-col> -->
            <!-- <ion-col> -->
            <div id="product-upper-info" *ngIf="product$ | async as product">
              <!-- <ion-text> -->
              <h2>
                {{ product.name }}
              </h2>
              <!-- </ion-text> -->

              <h4>{{ product.brand }}</h4>
              <p style="font-weight: 300">
                {{ product.description }}
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 50px">
          <ion-col>
            <div class="middle-container">
              <ion-button fill="clear" (click)="scroll(comp_products)">
                Prices
              </ion-button>
              <ion-button fill="clear" (click)="scroll(product_info)">
                Product information
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="lower-body-container" #comp_products>
              <ion-button
                color="tertiary"
                shape="round"
                class="stock-button"
                (click)="onlyInStockToggler()"
                [ngClass]="{ 'stock-button-highlight': divClicked }">
                <span><i class="fa-solid fa-cube" aria-hidden="true"></i></span>
                Only in stock
              </ion-button>
              <ng-container
                *ngIf="sellers$ | async as sellers; else loading_spinner">
                <ion-accordion-group
                  class="seller-list-group"
                  [multiple]="true">
                  <!-- <ul style="padding-left: 20px" class="seller-list"> -->
                  <ion-accordion *ngFor="let seller of sellers">
                    <ion-item slot="header" shape="round" lines="none">
                      <ion-label class="accordion-name">
                        {{ seller.business_name }}
                      </ion-label>

                      <div slot="end" class="inner-heading-padding">
                        <ion-label class="price-label"
                          >R{{ seller.price }}</ion-label
                        >
                        <ion-chip *ngIf="seller.in_stock" color="success">
                          <ion-label class="stock-label"> In Stock </ion-label>
                          <ion-icon
                            class="stock-cube stock-icon"
                            name="cube"></ion-icon>
                          <ion-icon
                            class="stock-icon"
                            name="checkmark-outline"></ion-icon>
                        </ion-chip>
                        <ion-chip *ngIf="!seller.in_stock" color="danger">
                          <ion-label class="stock-label">
                            Out of Stock
                          </ion-label>
                          <ion-icon
                            class="stock-cube stock-icon"
                            name="cube"></ion-icon>

                          <ion-icon
                            class="stock-icon"
                            name="close-outline"></ion-icon>
                        </ion-chip>
                      </div>
                      <ion-icon
                        class="ion-accordion-toggle-icon"
                        style="display: none; visibility: hidden"
                        name="logo-ionic"
                        slot="end"
                        color="white">
                      </ion-icon>
                    </ion-item>
                    <div class="ion-padding accordion-content" slot="content">
                      <div class="accordion--inner-content">
                        <a
                          class="product-mini-card-container"
                          href="{{ seller.product_url }}"
                          target="_blank">
                          <div class="product-mini-card">
                            <ion-thumbnail slot="strat">
                              <ion-img [src]="getOneImg(seller.img_array)" />
                            </ion-thumbnail>
                          </div>
                        </a>
                        <div class="accordion-content-product-name">
                          <a
                            href="{{ seller.product_url }}"
                            target="_blank"
                            (click)="linkClickAnalytics(seller.business_name)">
                            {{ seller.product_name }}
                          </a>
                        </div>
                        <ion-list>
                          <ion-item>
                            <ion-label
                              style="
                                font-weight: 700;
                                text-align: center;
                                width: 100%;
                              ">
                              Price breakdown
                            </ion-label>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-label class="accordion-price-breakdown-label">
                              {{ seller.original_price }}
                            </ion-label></ion-item
                          >
                          <ion-item lines="full">
                            <ion-icon
                              color="danger"
                              slot="start"
                              style="height: 0.9rem"
                              name="remove-circle-outline"></ion-icon>
                            <ion-label
                              color="danger"
                              slot="end"
                              class="accordion-price-breakdown-label"
                              >{{ seller.discount }}</ion-label
                            ></ion-item
                          >
                          <ion-item lines="none">
                            <ion-label
                              class="accordion-price-breakdown-label"
                              >{{ seller.price }}</ion-label
                            >
                          </ion-item>
                        </ion-list>
                      </div>
                      <div class="accordion-button-container">
                        <ion-button
                          class="accordian-buttons"
                          size="default"
                          fill="solid"
                          href="{{ seller.product_url }}"
                          target="_blank"
                          (click)="linkClickAnalytics(seller.business_name)">
                          Go to this product
                        </ion-button>
                        <ion-button
                          class="accordian-buttons"
                          size="default"
                          fill="solid"
                          (click)="goToSellerPage(seller.seller)">
                          Seller Profile
                        </ion-button>
                      </div>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div
              style="padding-left: 30px; padding-right: 30px"
              #product_info
              id="full-product-info">
              <div>
                <h3>Products Information</h3>
                <ng-container
                  *ngIf="sellers$ | async as sellers; else info_loading">
                  <div *ngIf="product$ | async as product; else info_loading">
                    <ion-text>
                      <p>
                        Lowest price for <u>{{ product.name }}</u> is
                        <u
                          ><b>R{{ product.min_price }}</b></u
                        >
                        .This is currrently the lowest price out of
                        <u>{{ sellers.length }}</u> stores.
                      </p>
                    </ion-text>
                    <ion-text
                      ><p>{{ product.description }}</p></ion-text
                    >
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
  <app-footer></app-footer>
</ion-content>

<ng-template #loading>
  <app-product-placeholder
    style="width: 100%; height: 100%"></app-product-placeholder>
</ng-template>
<ng-template #loading_spinner>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
<ng-template #info_loading>
  <ion-list>
    <ion-list-header>
      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
