<app-navbar></app-navbar>

<ion-content class="global-ion-content">
  <ng-container *ngIf="product$ | async as product">
    <app-category-breadcrumb [categoryList]="product"></app-category-breadcrumb>
  </ng-container>
  <div class="ion-content-wrapper">
    <!-- <div class="top-container" style="display: flex; flex-direction: column"> -->
    <ion-grid mode="ios">
      <ion-row id="top-row">
        <ion-col size="auto">
          <div
            class="mini-thumbnails"
            *ngFor="let img of (product$ | async)?.min_price_img_array">
            <ion-thumbnail style="padding: 5px">
              <ion-img
                [src]="img"
                alt="Product Image"
                (ionImgDidLoad)="this.loader.onImageLoaded()"
                (ionImgWillLoad)="this.loader.onImageStartLoading()"
                (click)="selectImage(img)" />
            </ion-thumbnail>
          </div>
        </ion-col>
        <ion-col>
          <!-- <ion-card> -->
          <div class="main-img-container">
            <div
              class="product-card"
              style="position: relative; height: 100%; width: 100%">
              <ion-img
                style="height: 100%; object-fit: contain"
                (ionImgDidLoad)="this.loader.onImageLoaded()"
                (ionImgWillLoad)="this.loader.onImageStartLoading()"
                [src]="
                  selectedImage
                    ? selectedImage
                    : getOneImg((product$ | async)?.min_price_img_array)
                "
                class="product-image" />
              <div
                class="min-price-discount_rate"
                *ngIf="product$ | async as product">
                <span
                  class="discount-tag"
                  *ngIf="product.min_price_discount_rate !== 0">
                  <ion-label>
                    -{{
                      (product.min_price_discount_rate ?? 0) * 100
                        | number : '1.0-0'
                    }}%</ion-label
                  >
                </span>
              </div>
              <div style="position: absolute; bottom: 0; right: 0">
                <ion-button
                  color="tertiary"
                  (click)="toggleBookmark()"
                  class="bookmark-button"
                  shape="round"
                  mode="ios"
                  style="--border-radius: 50%; width: 56px; height: 56px">
                  <ion-icon
                    slot="icon-only"
                    [name]="'bookmark-outline'"
                    style="color: var(--c-5-a, #37d0d6)"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
          <!-- </ion-card> -->
        </ion-col>
        <ion-col>
          <div
            class="upper-product-info-small-container"
            *ngIf="product$ | async as product">
            <h2>
              {{ product.name }}
            </h2>
            <h4>{{ product.brand }}</h4>
            <p>{{ product.description }}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="position: sticky; top: 0">
        <ion-col>
          <div
            style="
              width: 100%;
              box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
              flex: row;
            ">
            <ion-button
              fill="clear"
              style="color: black; padding-left: 3rem"
              (click)="scroll(comp_products)">
              Prices
            </ion-button>
            <ion-button
              fill="clear"
              style="color: black; padding-left: 3rem"
              (click)="scroll(product_info)">
              Product information
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="lower-body-container">
          <div
            #comp_products
            style="
              display: flex;
              flex-direction: column;
              width: 90%;
              justify-content: center;
              align-items: center;
            ">
            <!-- <ion-item lines="none"> -->
            <ion-button
              class="accordian-buttons"
              style="
                justify-self: start;
                align-self: flex-start;
                padding: 2px 8px;
              "
              (click)="onlyInStockToggler()"
              [ngStyle]="{
                border: divClicked ? '2px solid black' : 'none'
              }">
              <span><i class="fa-solid fa-cube" aria-hidden="true"></i></span>
              Only in stock
            </ion-button>
            <!-- </ion-item> -->
            <ng-container *ngIf="sellers$ | async as sellers">
              <ion-accordion-group class="seller-list-group" [multiple]="true">
                <!-- <ul style="padding-left: 20px" class="seller-list"> -->
                <ion-accordion
                  *ngFor="let seller of sellers"
                  class="comp-products-list">
                  <ion-item slot="header" shape="round" lines="none">
                    <ion-label style="margin: 0.2rem 1rem; width: 100%">
                      {{ seller.business_name }}
                    </ion-label>

                    <div
                      slot="end"
                      class="inner-heading-padding"
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-right: 2px;
                      ">
                      <ion-label class="price-label"
                        >R{{ seller.price }}</ion-label
                      >
                      <ion-chip *ngIf="seller.in_stock" color="success">
                        <ion-label class="stock-label"> In Stock </ion-label>
                        <ion-icon
                          class="stock-cube stock-icon"
                          name="cube"></ion-icon>
                        <ion-icon
                          class="stock-icon"
                          name="checkmark-outline"></ion-icon>
                      </ion-chip>
                      <ion-chip *ngIf="!seller.in_stock" color="danger">
                        <ion-label class="stock-label">
                          Out of Stock
                        </ion-label>
                        <ion-icon
                          class="stock-cube stock-icon"
                          name="cube"></ion-icon>

                        <ion-icon
                          class="stock-icon"
                          name="close-outline"></ion-icon>
                      </ion-chip>
                    </div>
                    <ion-icon
                      class="ion-accordion-toggle-icon"
                      style="display: none; visibility: hidden"
                      name="logo-ionic"
                      slot="end"
                      color="white">
                    </ion-icon>
                  </ion-item>
                  <div class="ion-padding accordion-content" slot="content">
                    <div
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        flex-wrap: wrap;
                      ">
                      <a href="{{ seller.product_url }}" target="_blank">
                        <div
                          class="product-mini-card"
                          style="width: fit-content; height: fit-content">
                          <ion-thumbnail
                            slot="strat"
                            style="--size: 8rem; margin: 0 1rem">
                            <ion-img [src]="getOneImg(seller.img_array)" />
                          </ion-thumbnail>
                        </div>
                      </a>
                      <div
                        style="
                          color: black;
                          width: 100%;
                          text-align: center;
                          align-items: center;
                          padding: 0 1rem;
                          max-width: 600px;
                        ">
                        <a
                          href="{{ seller.product_url }}"
                          target="_blank"
                          (click)="linkClickAnalytics(seller.business_name)"
                          style="
                            overflow-wrap: break-word;
                            word-break: break-word;
                            white-space: break-spaces;
                          ">
                          <!-- <ion-label style="width: 100%"> -->
                          {{
                            seller.product_name
                          }}dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
                          <!-- </ion-label> -->
                        </a>
                      </div>
                      <ion-list>
                        <ion-item
                          style="
                            font-size: small;
                            --padding-end: 0px;
                            --inner-padding-end: 0px;
                          ">
                          <ion-label
                            style="
                              font-weight: 700;
                              text-align: center;
                              width: 100%;
                            ">
                            Price breakdown
                          </ion-label>
                        </ion-item>
                        <ion-item
                          lines="none"
                          style="
                            font-size: small;
                            --padding-end: 0px;
                            --inner-padding-end: 0px;
                          ">
                          <ion-label style="text-align: end; width: 100%">
                            {{ seller.original_price }}
                          </ion-label></ion-item
                        >
                        <ion-item
                          lines="full"
                          style="
                            font-size: small;
                            --padding-end: 0px;
                            --inner-padding-end: 0px;
                          ">
                          <ion-icon
                            color="danger"
                            slot="start"
                            style="height: 0.9rem"
                            name="remove-circle-outline"></ion-icon>
                          <ion-label
                            color="danger"
                            slot="end"
                            style="text-align: end; width: 100%"
                            >{{ seller.discount }}</ion-label
                          ></ion-item
                        >
                        <ion-item
                          lines="none"
                          style="
                            font-size: small;
                            --padding-end: 0px;
                            --inner-padding-end: 0px;
                          ">
                          <ion-label style="text-align: end; width: 100%">{{
                            seller.price
                          }}</ion-label>
                        </ion-item>
                      </ion-list>
                    </div>
                    <div
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                      ">
                      <ion-button
                        class="accordian-buttons"
                        size="default"
                        fill="solid"
                        href="{{ seller.product_url }}"
                        target="_blank"
                        (click)="linkClickAnalytics(seller.business_name)">
                        Go to this product
                      </ion-button>
                      <ion-button
                        class="accordian-buttons"
                        size="default"
                        fill="solid"
                        (click)="goToSellerPage(seller.seller)">
                        Seller Profile
                      </ion-button>
                    </div>
                  </div>

                  <div class="container-fluid comp-products">
                    <mat-accordion>
                      <mat-expansion-panel hideToggle disabled>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <mat-card-title
                              class="seller-name"
                              (click)="goToSellerPage(seller.seller)"
                              >{{ seller.business_name }}</mat-card-title
                            >
                          </mat-panel-title>
                          <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                      </mat-expansion-panel>
                      <mat-card-header class="seller-product-name-price">
                        <div class="container-fluid card-title-container">
                          <mat-card-title class="product-name">
                            <a
                              href="{{ seller.product_url }}"
                              (click)="
                                linkClickAnalytics(seller.business_name)
                              ">
                              {{ seller.product_name }}
                            </a>
                          </mat-card-title>
                          <div class="right-section">
                            <div
                              class="in-stock-container"
                              [ngClass]="{
                                'in-stock-boxes': seller.in_stock,
                                'out-of-stock-boxes': !seller.in_stock
                              }">
                              <i
                                class="fa-sharp fa-solid fa-boxes-stacked in-stock-box"></i>
                              <i
                                *ngIf="seller.in_stock"
                                class="fa-sharp fa-solid fa-check in-stock-tick"></i>
                              <i
                                *ngIf="!seller.in_stock"
                                class="fa-sharp fa-solid fa-x in-stock-x"></i>
                            </div>
                            <mat-card-title class="product-price">
                              R{{ seller.price }}
                            </mat-card-title>
                          </div>
                        </div>
                      </mat-card-header>
                    </mat-accordion>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div
            style="padding-left: 30px; padding-right: 30px"
            #product_info
            class="container-fluid full-product-info"
            id="full-product-info">
            <div>
              <h3>Products Information</h3>
              <ng-container *ngIf="sellers$ | async as sellers">
                <div *ngFor="let seller of sellers; let i = index"></div>

                <div *ngIf="product$ | async as product">
                  <p>
                    Lowest price for {{ product.name }} is
                    <b>R{{ product.min_price }}</b> this is currrently the
                    lowest price out of {{ sellers.length }} stores
                  </p>

                  <p>
                    <b>{{ product.name }}</b>
                  </p>
                  <p>{{ product.description }}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
