<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Page</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous" />
  </head>

  <body>
    <app-navbar></app-navbar>


    

    <div class="container-fluid body-container">
      <div class="container-fluid prices" id="prices">
        <div class="row product-img-info-container">
          <div class="col-sm-4 col-md-4 col-lg-4 mini-imgs-container">
            <div
              class="mini-imgs-small-container"
              *ngFor="
                let img of getImgs((product$ | async)?.min_price_img_array)
              ">
              <div>
                <img [src]="img" alt="Product Image" class="img-fluid w-100" />
              </div>
            </div>
            

          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 main-img-container">
            <!--<div class="main-img-small-container">
              <div class="heart-container">
                <button class="btn btn-circle btn-light">
                  <i class="fa fa-heart-o heart" aria-hidden="true"></i>
                </button>
              </div>
              <div>
                <img
                  [src]="getOneImg((product$ | async)?.min_price_img_array)"
                  alt="Product Image"
                  class="img-fluid w-100" />
              </div>
            </div>-->

            <!--<mat-card class="product-card">
              <img
                mat-card-image
                [src]="getOneImg((product$ | async)?.min_price_img_array)"
                alt="Product Image"
                class="product-image"
              />
              <mat-card-actions>
                <button mat-icon-button>
                  <mat-icon>favorite</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>-->

            <mat-card class="product-card">
                      <img
                        mat-card-image
                        [src]="getOneImg((product$ | async)?.min_price_img_array)"
                        alt="Product Image"
                        class="product-image" />
                      <mat-card-actions>
                        <button
                          mat-icon-button
                          color="warm"
                          aria-label="Example icon button with a heart icon">
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </mat-card-actions>
                    </mat-card>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 upper-product-info-container">
            <div
              class="upper-product-info-small-container"
              *ngIf="product$ | async as product">
              <h2>{{ product.name }}</h2>
              <h4>{{product.brand}}</h4>
              <p>{{ product.description }}</p>
              <p>
                Compare prices from <b>{{ product.min_price }} {{currencyCode}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid lower-body-container">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light sticky-top lowerNav">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link">Prices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Reviews & tests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Product information</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid filters">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="filter">
                <i class="fa fa-filter" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="only-in-stock">
                <span><i class="fa-solid fa-cube" aria-hidden="true"></i></span>
                Only in stock
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="price-incl-delivery">
                <span><i class="fa-solid fa-truck" aria-hidden="true"></i></span
                >Price inc. delivery
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="delivery-opt">
                Delivery Options
                <span
                  ><i class="fa-solid fa-chevron-down" aria-hidden="true"></i
                ></span>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 d-flex justify-content-end">
              <!--<div class="lowest-price ml-auto">
                Lowest Price
                <span
                  ><i class="fa-solid fa-chevron-down" aria-hidden="true"></i
                ></span>
              </div>-->
              <div class="lowest-price ml-auto">
                <!--<select class="custom-select" matNativeControl required>
                  <option value="lowest price ">Lowest Price</option>
                  <option value="fastest delivery">Fastest Delivery</option>
                </select>-->
                <mat-select [formControl]="selected" class="custom-select" hideToggle>
                  <mat-option value="lowestPrice" >Lowest Price</mat-option>
                  <mat-option value="fastestDelivery">Fastest Delivery</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>

        
        <!--<ng-container *ngIf="sellers$ | async as sellers">
          <ul class="seller-list">
            <li *ngFor="let seller of sellers">
              <div class="container-fluid comp-products">
              <mat-card class="seller-card">
                <mat-card-actions>
                    <button mat-button aria-label="icon-button with an expand icon" class="seller-dropdown-button">
                      <mat-icon>expand_more</mat-icon>
                    </button>
                    <mat-card-title class="seller-name">{{seller.business_name}}</mat-card-title>
                  
                </mat-card-actions>
                
                <mat-card-header class="seller-product-name-price">
                  <div class="card-title-container">
                    <mat-card-title class="product-name"><a routerLink = "{{seller.product_url}}">{{ seller.product_name }}</a></mat-card-title>
                    <div [ngClass]="{'in-stock-boxes': seller.in_stock, 'out-of-stock-boxes': !seller.in_stock}" matTooltipPosition="above" aria-label="Example tooltip">
                      <i class="fa-sharp fa-solid fa-boxes-stacked in-stock-box"></i>
                      <i *ngIf="seller.in_stock" class="fa-sharp fa-solid fa-check in-stock-tick" matTooltip="in stock"></i>
                      <i *ngIf="!seller.in_stock" class="fa-sharp fa-solid fa-x in-stock-x" matTooltip="out of stock"></i>
                    </div>
                    <mat-card-title class="product-price"> {{ seller.price }} {{currencyCode}}</mat-card-title>
                  </div>
                </mat-card-header>
              </mat-card>
              </div>
            </li>
          </ul>-->

          <ng-container *ngIf="sellers$ | async as sellers">
            <ul class="seller-list">
              <li *ngFor="let seller of sellers">
                <div class="container-fluid comp-products">
                <mat-accordion >
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title >
                        <!--<div class="toggle-icon">
                          <button mat-icon-button class="seller-dropdown-button" [attr.aria-label]="getAriaLabel(seller)" (click)="togglePanel(seller)">
                            <mat-icon>{{ isExpanded(seller) ? 'expand_less' : 'expand_more' }}</mat-icon>
                          </button>
                        </div>-->
                        <mat-card-title class="seller-name">{{seller.business_name}}</mat-card-title>
                      </mat-panel-title>
                      <mat-panel-description>
                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="payment-methods-expanded">
                      <h5>Payment Methods</h5>
                      <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2  payment-method">
                          <p>Visa</p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2  payment-method">
                          <p>Master card</p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2  payment-method">
                          <p>Pay Pal</p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2  payment-method">
                          <p>Klarna</p>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-card-header class="seller-product-name-price">
                    <div class="card-title-container">
                      <mat-card-title class="product-name"><a routerLink = "{{seller.product_url}}">{{ seller.product_name }}</a></mat-card-title>
                      <div [ngClass]="{'in-stock-boxes': seller.in_stock, 'out-of-stock-boxes': !seller.in_stock}" matTooltipPosition="above" aria-label="Example tooltip">
                        <i class="fa-sharp fa-solid fa-boxes-stacked in-stock-box"></i>
                        <i *ngIf="seller.in_stock" class="fa-sharp fa-solid fa-check in-stock-tick" matTooltip="in stock"></i>
                        <i *ngIf="!seller.in_stock" class="fa-sharp fa-solid fa-x in-stock-x" matTooltip="out of stock"></i>
                      </div>
                      <mat-card-title class="product-price"> {{ seller.price }} {{currencyCode}}</mat-card-title>
                    </div>
                  </mat-card-header>
                  
                </mat-accordion>
                </div>
                
              </li>
            </ul>
          </ng-container>
          <!--<div
            *ngFor="let seller of sellers"
            class="container-fluid comp-products">
            <div class="row drop-d-sellerName-container">
              <div class="col-sm-3 col-md-3 col-lg-3 dropdown-arrow">
                <span class=""
                  ><i class="fa-solid fa-chevron-down" aria-hidden="true"></i
                ></span>
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 seller-name">
                <span class="">{{ seller.business_name }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 product-name">
                {{ seller.product_name }}
                <span class="product-name-price">{{ seller.price }}</span >
              </div>
            </div>
          </div>-->

        <!--</ng-container>-->
        <!--<div class="container-fluid related-products" *ngIf="products">
          <h3>Related Products</h3>
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  [src]="products[6].img"
                  alt="Product Image"
                  class="card-img-top related-product-img" />
                <div class="card-body">
                  <h5 class="card-title">{{ products[6].brand }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">
                    {{ products[6].description }}
                  </h6>
                  <p class="card-text">R{{ products[6].min_price }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  [src]="products[17].img"
                  alt="Product Image"
                  class="card-img-top related-product-img" />
                <div class="card-body">
                  <h5 class="card-title">{{ products[17].brand }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">
                    {{ products[17].description }}
                  </h6>
                  <p class="card-text">R{{ products[17].min_price }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="card" style="width: 18rem">
                <img
                  [src]="products[19].img"
                  alt="Product Image"
                  class="card-img-top related-product-img" />
                <div class="card-body">
                  <h5 class="card-title">{{ products[19].brand }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">
                    {{ products[19].description }}
                  </h6>
                  <p class="card-text">R{{ products[19].min_price }}</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="container-fluid reviews" id="reviews">
          <h3>Reviews</h3>
          <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7 reviews-info-container">
              <!------------------------------------------ reviews------------------------------------------------>
              <p>
                <span><i class="fa-solid fa-star overall-star"></i></span
                ><b> 4.7</b> (from 4,703 reviews)
              </p>
              <p>
                Let us know your thoughts on a product or view reviews from
                others. Please note that e-Mall does not verify whether the user
                has used or purchased the product.
              </p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 show-all">
              <a routerLink="./construction"><B>Show all</B></a>
            </div>
          </div>

          <div class="row review-row">
            <div class="col-sm-3 col-md-3 col-lg-3 reviews-cols">
                <div class="card review-card" style="width: 18rem;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="S-div">
                          <span class="initial">S</span>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="reviewer-name">
                          <h6 class="card-title">Samukelo</h6>
                          <p>2 months ago</p>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 ">
                        <div class="reviewer-star-container">
                          <span><i class="fa-solid fa-star reviewer-star"></i></span
                          ><b>3</b>
                        </div>
                      </div>
                    </div>
                    <p class="card-text">
                      I'm really impressed with this product. It exceeded my
                      expectations and works flawlessly!
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 reviews-cols">
                <div class="card review-card" style="width: 18rem;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="J-div">
                          <span class="initial">J</span>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="reviewer-name">
                          <h6 class="card-title">Jane</h6>
                          <p>1 month ago</p>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 ">
                        <div class="reviewer-star-container">
                          <span><i class="fa-solid fa-star reviewer-star"></i></span
                          ><b>5</b>
                        </div>
                      </div>
                    </div>
                    <p class="card-text">
                      I've been using this product for a while now, and I can't
                      imagine my life without it. Highly recommended!
                    </p>
                  </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 reviews-cols">
                <div class="card review-card" style="width: 18rem;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="SD-div">
                          <span class="initial">SD</span>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="reviewer-name">
                          <h6 class="card-title">Sam Day</h6>
                          <p>4 months ago</p>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 ">
                        <div class="reviewer-star-container">
                          <span><i class="fa-solid fa-star reviewer-star"></i></span
                          ><b>4</b>
                        </div>
                      </div>
                    </div>
                    <p class="card-text">
                      I've tried several similar products, but this one stands out
                      from the rest. It's reliable, easy to use, and delivers
                      consistent results.
                    </p>
                  </div>
                </div>
            </div>
          </div>

          <button
            class="btn btn-outline-dark my-2 my-sm-0 ms-auto post-review"
            type="submit"
            routerLink="/construction">
            <span><i class="fa-solid fa-pen"></i></span>
            Post a review
          </button>
        </div>

        <!--
        <div class="container-fluid statistics" id="statistics">
          <h3>Statistics</h3>
        </div>
      -->

        <div class="container-fluid full-product-info" id="full-product-info">
          <h3>Products Information</h3>
          <ng-container *ngIf="sellers$ | async as sellers">
            <div *ngFor="let seller of sellers; let i = index"></div>

            <div *ngIf="product$ | async as product">
              <p>
                Lowest price for {{ product.brand }} is
                <b>R{{ product.min_price }}</b> this is currrently the lowest
                price out of {{ sellers.length }} stores
              </p>

              <p>
                <b>{{ product.brand }}</b>
              </p>
              <p>{{ product.description }}</p>
              <p>
                {{ product.brand }} is just the thing you need to listen to your
                favorite podcast. They connect cord-free via Bluetooth and with
                active noise cancelling you get some peace and quiet in the busy
                office landscape.
              </p>
              <ul>
                <li>Active noise cancelling</li>
                <li>Completely wireless design</li>
                <li>Connects wirelessly</li>
                <li>Six hours of battery life</li>
                <li>Built-in microphone for phone calls</li>
                <li>Simple design</li>
              </ul>
            </div>
          </ng-container>
        </div>

        <!--
        <div *ngIf="product">
          <h1>{{ product[0].brand }}</h1>
          <img [src]="product[0].img" alt="Product Image">
        </div>
      -->

        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img
                  class="welcomeMsg_logo_footer"
                  src="assets/images/logo.png"
                  alt="e-Mall logo" />
              </div>
              <div class="col-md-3">
                <h5>e-Mall</h5>
                <ul class="list-unstyled">
                  <li><a routerLink="/construction">About us</a></li>
                  <li><a routerLink="/construction">Contact </a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>Learn More</h5>
                <ul class="list-unstyled">
                  <li><a routerLink="/sign-up">Get started</a></li>
                  <li><a routerLink="/construction">Our App</a></li>
                  <li>
                    <a routerLink="/construction">Policies and privacy</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>Partners & Advertisers</h5>
                <ul class="list-unstyled">
                  <li><a routerLink="/register">Register your shop</a></li>
                  <li><a routerLink="/construction">Merchant Dashboard</a></li>
                  <li><a routerlink="/construction">Avertising</a></li>
                </ul>
              </div>
            </div>
            <div class="row icons">
              <div class="col-md-3">
                <p>Copyright © 2023 e-Mall</p>
              </div>

              <div class="col-md-3"></div>
              <div class="col-md-3">
                <a routerLink="#"
                  ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i
                ></a>
              </div>
              <div class="col-md-3">
                <a routerLink="#"
                  ><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
