<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  </head>

  <body>
    <div class="container-fluid same-height d-flex">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-6 d-flex align-items-stretch">
          <div class="card flex-grow-1 smaller-container">
            <div class="text-center">
              <!--<h1>e-Mall</h1>-->
              <h2>Register your Business Today!</h2>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address*"
                    formControlName="email" />
                  <div
                    *ngIf="f['email'].touched && f['email'].invalid"
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['email'].errors?.['required']">
                      Email is required
                    </div>
                    <div class="errorMsg" *ngIf="f['email'].errors?.['email']">
                      Invalid email address
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="Password"
                    class="form-control"
                    id="password"
                    placeholder="Password*"
                    formControlName="password" />
                  <div
                    *ngIf="f['password'].touched && f['password'].invalid"
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['password'].errors?.['required']">
                      Password is required
                    </div>
                    <div
                      class="errorMsg"
                      *ngIf="f['password'].errors?.['minlength']">
                      Password must be at least 8 characters long
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="Password"
                    class="form-control"
                    id="cpassword"
                    placeholder="Confirm Password*"
                    formControlName="cpassword" />
                  <div
                    *ngIf="f['cpassword'].touched && f['cpassword'].invalid"
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['cpassword'].errors?.['required']">
                      Confirm Password is required
                    </div>
                    <div
                      class="errorMsg"
                      *ngIf="f['cpassword'].errors?.['passwordMismatch'] && f['cpassword'].value !== ''">
                      Password and Confirm Password do not match
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="website"
                    placeholder="website*"
                    formControlName="website" />
                  <div
                    *ngIf="f['website'].touched && f['website'].invalid"
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['website'].errors?.['required']">
                      Website is required
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="feed"
                    aria-describedby="productFeedHelp"
                    placeholder="Product Feed"
                    formControlName="feed" />
                  <div id="productFeedHelp" class="form-text">
                    You can enter the URL for your product feed, if you already
                    got one.
                  </div>
                </div>

                <div class="mb-3">
                  <select
                    class="form-control mb-3"
                    id="typeOfBusiness"
                    id="typeOfBusiness"
                    formControlName="typeOfBusiness">
                    <option value="" disabled selected hidden>
                      Select Type Of Business*
                    </option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <div
                    *ngIf="
                      f['typeOfBusiness'].touched && f['typeOfBusiness'].invalid
                    "
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['typeOfBusiness'].errors?.['required']">
                      Type of Business is required
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="catalogSize"
                    placeholder="Catalog Size*"
                    formControlName="catalogSize" />
                  <div
                    *ngIf="f['catalogSize'].touched && f['catalogSize'].invalid"
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['catalogSize'].errors?.['required']">
                      Catalog Size is required
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="sizeOfBusiness"
                    placeholder="Size Of Business*"
                    formControlName="sizeOfBusiness" />
                  <div
                    *ngIf="
                      f['sizeOfBusiness'].touched && f['sizeOfBusiness'].invalid
                    "
                    class="text-danger">
                    <div
                      class="errorMsg"
                      *ngIf="f['sizeOfBusiness'].errors?.['required']">
                      Size of Business is required
                    </div>
                  </div>
                </div>

                <div
                  class="text-danger errorMsg"
                  *ngIf="!registerForm.valid && formSubmitted">
                  Form invalid. Please fill in all required fields.
                </div>

                <button type="submit" class="btn btn-lg btn-block">
                  Submit
                </button>

                <div class="have-acc">
                  <p style="margin-top: 20px">
                    already have an account?
                    <span><a routerLink="/sign-in">Sign In</a></span>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 d-flex align-items-stretch">
          <div
            class="container welcomeMsg_container flex-grow-1 smaller-container"
            id="welcomeMsg">
            <h1 class="welcomeMsg-words-top">
              Welcome to SA's leading comparison service for
              <span class="welcomeMsg-words-top">online shopping</span>
            </h1>
            <img
              class="welcomeMsg_logo"
              src="assets/images/logo.png"
              alt="e-Mall logo" />
            <h3 class="welcomeMsg-words-bottom">
              Discover<br />Compare<br />Shop<br />E-Mall Has It All!
            </h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img
              class="welcomeMsg_logo_footer"
              src="assets/images/logo.png"
              alt="e-Mall logo" />
          </div>
          <div class="col-md-3">
            <h5>e-Mall</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/construction">About us</a></li>
              <li><a routerLink="/construction">Contact </a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Learn More</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/sign-up">Get started</a></li>
              <li><a routerLink="/construction">Our App</a></li>
              <li><a routerLink="/construction">Policies and privacy</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Partners & Advertisers</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/register">Register your shop</a></li>
              <li><a routerLink="/construction">Merchant Dashboard</a></li>
              <li><a routerlink="/construction">Avertising</a></li>
            </ul>
          </div>
        </div>
        <div class="row icons">
          <div class="col-md-3">
            <p>Copyright © 2023 e-Mall</p>
          </div>

          <div class="col-md-3"></div>
          <div class="col-md-3">
            <a routerLink="#"
              ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div class="col-md-3">
            <a routerLink="#"
              ><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<!--

  <body class="flex-column">
    <main class="signin main">
      <div class="cell">
        <!-- ======= section1 ======= --><!--
        <section class="section1__section1">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Business name"
            class="input00" />
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Business website"
            class="input0" />
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Business registration no."
            class="input" />
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email"
            #email="ngModel"
            [(ngModel)]="user.email"
            class="input1" />

          <input
            [type]="user.showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Password"
            #password="ngModel"
            [(ngModel)]="user.password"
            class="input2" />
          <input
            [type]="user.showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder=" Confirm Password"
            #password="ngModel"
            [(ngModel)]="user.password"
            class="input3" />

          <select name="type" required class="input4">
            <option value="" disabled selected hidden>Type of Business</option>
            <option value="clothing">Clothing</option>
            <option value="technology">Technology</option>
            <option value="house">House</option>
          </select>

          <select name="cSize" required class="input5">
            <option value="" disabled selected hidden>Catalogue size</option>
            <option value="500">500-1000</option>
            <option value="1000">1000-1500</option>
            <option value="1500">1500-2000</option>
          </select>

          <select name="bSize" required class="input6">
            <option value="" disabled selected hidden>Business size</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>

          <button
            class="section1__box"
            type="submit"
            value="Log in"
            (click)="signUp()"
            style="text-align: right">
            Register
          </button>

          <div class="section1__info2">Already have an account?</div>
          <div class="section1__group">
            <div class="section1__cover">
              <h1 class="section1__hero_title_box">
                <span class="section1__hero_title"
                  ><span class="section1__hero_title_span0"
                    >Welcome to SA’s leading comparison service for </span
                  ><span class="section1__hero_title_span1"
                    >online shopping</span
                  ></span
                >
              </h1>
            </div>
            <img
              src="assets/images/logo.png"
              alt="alt text"
              class="section1__image" />
            <h1 class="section1__title">
              Discover<br />Compare<br />Shop<br />E-Mall Has It All!
            </h1>
          </div>
          <h1 class="section1__title1">Register</h1>
          <div class="section1__info11"><a href="/sign-in">Sign in</a></div>
        </section>
        <!-- ======= End section1 ======= -->
<!--
      </div>
    </main>
  </body>
</html>
<!-- <div class="row justify-content-center my-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="user.email"
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="password" class="form-label">Password:</label>
            <div class="input-group input-group-sm">
              <input
                [type]="user.showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="user.password"
                class="form-control form-control-sm"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="user.showPassword = !user.showPassword"
              >
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-eye-fill': !user.showPassword,
                    'bi-eye-slash-fill': user.showPassword
                  }"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button
              type="button"
              (click)="signIn()"
              class="btn btn-sm btn-success"
              [disabled]="loading"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="loading"
              ></span>
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
