<!-- category-page.component.html -->

<app-navbar></app-navbar>
<ion-content class="global-ion-content">
  <div class="ion-content-wrapper">
    <div class="body">
      <app-category-breadcrumb
        [categoryList]="categoryTitle"></app-category-breadcrumb>
      <ion-list style="width: 100%">
        <ion-item
          *viewSize="'desktop'"
          lines="full"
          style="width: 100%; margin-bottom: 20px">
          <h2 slot="start">Category: {{ categoryTitle }}</h2>
          <div slot="end" class="sort-condition">
            <select
              name=""
              id="select"
              [(ngModel)]="selectedSortOption"
              (ngModelChange)="onSortOptionChange()">
              <option value="name">Name (A-Z)</option>
              <option value="-name">Name (Z-A)</option>
              <option value="price">Low to high</option>
              <option value="-price">High to low</option>
              <option value="discount">Lowest Discount</option>
              <option value="-discount">Highest Discount</option>
            </select>
          </div>
        </ion-item>
        <div *viewSize="'mobile'" style="display: flex; flex-direction: column">
          <h2>Category: {{ categoryTitle }}</h2>
          <div class="sort-condition">
            <select
              name=""
              id="select"
              [(ngModel)]="selectedSortOption"
              (ngModelChange)="onSortOptionChange()">
              <option value="name">Name (A-Z)</option>
              <option value="-name">Name (Z-A)</option>
              <option value="price">Low to high</option>
              <option value="-price">High to low</option>
              <option value="discount">Lowest Discount</option>
              <option value="-discount">Highest Discount</option>
            </select>
          </div>
        </div>
        <!-- </div> -->

        <!-- <mat-divider></mat-divider> -->
        <!--products-->

        <div class="product-card">
            <ng-container *ngIf="categoryProducts$ | async as products">
              <div>
                <ion-grid>
                  <ion-row>
                    <ng-container
                      *ngFor="let product of products; let i = index">
                      <ion-col
                        size-lg="4"
                        size-md="6"
                        size-sm="6"
                        size="6"
                        style="margin-top: 20px">
                        <app-product-card
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    "
                    [product]="product"
                    [pageType]="'normal'"></app-product-card>
                      </ion-col>
                    </ng-container>
                  </ion-row>
                </ion-grid>
              </div>
            </ng-container>
        </div>
      </ion-list>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>

<ng-template #no_result>
  <div class="search-results-container">
    <!-- <div> -->
    <h3>No Products Found</h3>
    <p>
      Sorry, we couldn't find any products in this category. Please check back
      later or try searching for other categories.
    </p>
    <img
      src="assets\images\no-image.jpeg"
      alt="No Product Found"
      class="nimage" />
    <!-- </div> -->
  </div>
</ng-template>
<ng-template #loading>
  <div class="row" style="grid-auto-rows: auto">
    <div
      class="col-md-3 col-12"
      style="grid-auto-columns: auto; min-width: 260px"
      *ngFor="let number of [0, 1, 2, 3]">
      <app-product-card-placeholder></app-product-card-placeholder>
    </div>
  </div>
</ng-template>
