<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <ion-text style="text-align: center">
            <h2>Become A Member <br />Today!</h2>
          </ion-text>
          <div class="input-error-box-wrapper">
            <div class="input-error-box">
              <ion-input
                type="email"
                label="Email"
                placeholder="example@emall.com"
                labelPlacement="floating"
                fill="outline"
                formControlName="email"
                required="true"></ion-input>
            </div>
          </div>

          <div class="submit-button">
            <ion-button
              id="submit-button"
              [disabled]="registerForm.invalid"
              type="submit"
              >Confirm</ion-button
            >
          </div>
          <!-- <ion-item class="text-center">
            <ion-text id="already-have-acc-text"
              >Already have an account?</ion-text
            >
            <ion-text color="success">
              <a routerLink="/sign-in">Sign In</a>
            </ion-text>
          </ion-item> -->
        </form>
      </ion-col>

      <ion-col *viewSize="'desktop'" class="side-pannel">
        <div>
          <h1 class="welcome-header">
            Welcome to SA's leading<br />comparison service for
            <div class="welcome-header-accent">online shopping</div>
          </h1>

          <ion-img
            id="logo"
            src="assets/images/logo.png"
            alt="E-Mall"></ion-img>

          <h3 class="welcome-footer">
            Discover<br />Compare<br />Shop<br />E-Mall Has It All!
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
