<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  </head>

  <body class="flex-column">
    <header id="header" class="headroom">
      <nav class="max:show">
        <!-- prettier-ignore -->
      </nav>
    </header>
    <main class="landing main">
      <!-- ======= section1 ======= --> 
      <section class="section1__section1"><h1 class="section1__hero_title">Coming Soon!</h1></section>
      <!-- ======= End section1 ======= --> 
<!-- ======= section2 ======= --> 
      <section class="section2__section2">
        <div class="section2__box2">
          <div class="section2__flex_column">
            <h4 class="section2__highlights1">e-Mall</h4>
            <div class="section2__text1">About Us</div>
            <div class="section2__text1">Contact Us</div>
            <div class="section2__text1">Careers</div>
            <div class="section2__text11">New features</div>
          </div>
          <div class="section2__flex_column1">
            <h4 class="section2__highlights1">Partners and Advertisers</h4>
            <div class="section2__text1"><a href="#" class="section2__text1">Register your shop</a></div>
            <div class="section2__text1">Merchant Dashboard</div>
            <div class="section2__text1">Advertising</div>
          </div>
          <h1 class="section2__title1">e-Mall<br /></h1>
          <div class="section2__group">
            <h4 class="section2__highlights1">Learn More</h4>
            <div class="section2__text12">Get started</div>
            <div class="section2__text13">Our App</div>
            <div class="section2__text14">Policies and Privacy</div>
          </div>
          <div class="section2__text15">Copyright © 2023 e-Mall</div>
        </div>
      </section>
      <!-- ======= End section2 ======= --> 

      <!-- ======= section3 ======= --> 
      <section class="section3__section3">

      </section>
      <!-- ======= End section3 ======= --> 
    </main>
    
  </body>
</html>
