<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
    <link rel="stylesheet" type="text/css" href="/css/Landing.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <header id="header" class="headroom">
      <nav class="max:show">
        <!-- prettier-ignore -->
      </nav>
    </header>
    <main class="landing main">
      <!-- ======= section1 ======= --> 
      <section class="section1__section1"><h1 class="section1__hero_title">Coming Soon!</h1></section>
      <!-- ======= End section1 ======= --> 
<!-- ======= section2 ======= --> 
      <section class="section2__section2">
        <div class="section2__box2">
          <div class="section2__flex_column">
            <h4 class="section2__highlights1">e-Mall</h4>
            <div class="section2__text1">About Us</div>
            <div class="section2__text1">Contact Us</div>
            <div class="section2__text1">Careers</div>
            <div class="section2__text11">New features</div>
          </div>
          <div class="section2__flex_column1">
            <h4 class="section2__highlights1">Partners and Advertisers</h4>
            <div class="section2__text1">Register your shop</div>
            <div class="section2__text1">Merchant Dashboard</div>
            <div class="section2__text1">Advertising</div>
          </div>
          <h1 class="section2__title1">e-Mall<br /></h1>
          <div class="section2__group">
            <h4 class="section2__highlights1">Learn More</h4>
            <div class="section2__text12">Get started</div>
            <div class="section2__text13">Our App</div>
            <div class="section2__text14">Policies and Privacy</div>
          </div>
          <div class="section2__text15">Copyright © 2023 e-Mall</div>
        </div>
      </section>
      <!-- ======= End section2 ======= --> 

      <div class="text1">
      </div>
      <!-- ======= section3 ======= --> 
      <section class="section3__section3">
        <div class="section3__box3"></div>
        <div class="section3__flexRow">
          <div class="section3__text2">About</div>
          <div class="spacer"></div>
          <div class="section3__text21">Features</div>
          <div class="spacer"></div>
          <div class="section3__text22">Pricing</div>
          <div class="spacer1"></div>
          <div class="section3__box4"><div class="section3__info"><button type="submit" value="Register">GET STARTED</button></div></div>
        </div>
      </section>
      <!-- ======= End section3 ======= --> 
    </main>
    <script type="text/javascript">
      AOS.init();

      const header = document.querySelector("#header");
      if(header) {
          const headroom = new Headroom(header);
          headroom.init();
      }
    </script>
  </body>
</html>
