<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <!-- <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css" /> -->
  </head>

  <!-- <body class="flex-column"> -->
  <body>
    <app-navbar></app-navbar>

    <!-- <main class="landing main"> -->
    <!-- <section class="section1__section1"> -->
    <!-- <h1 class="section1__hero_title">Coming Soon!</h1> -->
    <!-- </section> -->
    <!-- <section class="section3__section3"></section> -->
    <!-- </main> -->
    <app-footer></app-footer>
  </body>
</html>
