.modal-container {
    height: 100%;
    width: auto;
}

.close-button {
    --color: var(--ion-color-clear-button);
}

.modal-buttons {
    margin-top: 150px;

}

.modal-button{
    margin: 10px;
}

