

.close-button {
    --color: var(--ion-color-clear-button);
}

.modal-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 50px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

  }
  
  .modal-buttons ion-button {
    //margin-left: 8px;
    margin-bottom: 10px;
    margin-right: 15px;
  }


  .modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 30px;
  }
  
  .user-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #37d0d6;
    color: black;
  }
  
  .user-info-container {
    flex: 1; 
    margin-left: 20px; 
    
  }

  .user-info-container p{
    font-size:large;
  }

  .user-circle-container p{
    font-size: 30px;
    margin-top: 10px;
  }
  


  

