ion-button {
  --color: var(--ion-color-secondary);
  min-width: auto;
  font-size: medium;
}
ion-toolbar {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-item.dropdowns {
  --padding-start: 16px;
}
ion-select::part(container) {
  width: 100%;
}

ion-item.number-inputs {
  width: 220px;
}
.item-inputs {
  padding: 16px;
  --padding-start: 16px;
}
.item-textarea {
  padding: 16px;
  border: 0.2px solid #b3b3b3;

  --border-style: none;
}

.item-padding {
  margin-bottom: 16px;
}
