<div class="modal-container">
  <ion-item lines="none" class="modal-header-item">
    <ion-text class="modal-header"> Create New Product </ion-text>
    <ion-button
      class="close-button"
      fill="clear"
      shape="round"
      mode="ios"
      slot="end"
      (click)="closeModal()">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="content-container">
    <ng-container *ngIf="!nextClicked && !isSelected && !newClicked; else next">
      <form [formGroup]="nameForm">
        <ion-list class="newList">
          <ion-item class="input">
            <ion-label position="floating">Name:</ion-label>
            <ion-input formControlName="newName" clearInput></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-item class="item-padding" lines="none"> </ion-item>
      <ion-item class="item-padding" lines="none">
        <ion-button mode="ios" color="primary" (click)="nextClick()">
          Next
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-template #next>
      <ng-container *ngIf="nextClicked">
        <ion-item class="item-padding" lines="none">
          <ion-radio-group [allowEmptySelection]="true">
            <ng-container *ngFor="let prod of similarProducts">
              <ion-radio value="{{ prod }}">prod</ion-radio><br />
            </ng-container>
          </ion-radio-group>
        </ion-item>
        <ion-item class="item-padding" lines="none">
          <ion-button mode="ios" color="primary" (click)="selectProd()">
            Select Product
          </ion-button>
          <ion-button mode="ios" color="primary" (click)="newClick()">
            Create New
          </ion-button>
          <ion-button mode="ios" color="primary" (click)="backClick()">
            Back
          </ion-button>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="newClicked">
        <form [formGroup]="productForm" (submit)="NewProduct()">
          <ion-item class="item-padding" lines="none">
            <div class="item-label-new">Name</div>
            <div class="input-container-new">
              <ion-input clearInput="true" formControlName="name"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label-new">Category</div>
            <div class="input-container-new">
              <ion-select
                multiple="false"
                interface="popover"
                label="Select One"
                label-placement="floating"
                fill="outline"
                class="custom-select">
                <ng-container *ngFor="let category of categories">
                  {{category}}
                  <ion-select-option value="{{category}}">
                    {{ category }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label-new">Brand</div>
            <div class="input-container-new">
              <ion-input clearInput="true" formControlName="brand"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label-new">Description</div>
            <div class="input-container-new">
              <ion-input clearInput="true" formControlName="description"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-button-container">
              <ion-button
                type="submit"
                mode="ios"
                color="primary"
                [disabled]="!productForm.valid"
                >Next</ion-button
              >
            </div>
          </ion-item>
        </form>
      </ng-container>
      <ng-container *ngIf="isSelected">
        <form [formGroup]="productSellerForm" (submit)="NewProduct()">
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Product Seller</div>
            <div class="input-container">
              <ion-input clearInput="true" formControlName="productSeller"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Original Price (R)</div>
            <div class="input-container">
              <ion-input
                type="number"
                step="0.10"
                (ionChange)="formatNumber($event, 'price')"
                min="1"
                inputmode="decimal"
                formControlName="price"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Discount rate (%)</div>
            <div class="input-container">
              <ion-input
                clearInput="true"
                type="number"
                step="1.0"
                inputmode="decimal"
                max="100"
                min="0"
                formControlName="discount"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Inventory Status</div>
            <div class="item-content stock-icon-container">
              <ion-segment mode="ios" formControlName="stock">
                <ion-segment-button value="in">
                  <ion-icon
                    class="stock-icon"
                    name="checkmark"
                    color="success"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="out">
                  <ion-icon
                    class="stock-icon"
                    name="close"
                    color="danger"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Product URL</div>
            <div class="input-container">
              <ion-input clearInput="true" formControlName="url"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-label">Images URL's</div>
            <div class="input-container">
              <ion-input clearInput="true" formControlName="imgs"></ion-input>
            </div>
          </ion-item>
          <ion-item class="item-padding" lines="none">
            <div class="item-button-container">
              <ion-button
                type="submit"
                mode="ios"
                color="primary"
                [disabled]="!productForm.valid"
                >Create</ion-button
              >
            </div>
          </ion-item>
        </form>
      </ng-container>
      <!-- <form [formGroup]="newForm">
        <ion-list class="newList">
            <ion-item class="input">
              <ion-label position="floating">Name:</ion-label>
              <ion-input formControlName="newName" clearInput></ion-input>
            </ion-item>
  
            <ion-item class="input">
              <ion-label position="floating">Emails:</ion-label>
              <ion-input
                formControlName="newEmails"
                clearInput
                (keyup.enter)="createNewComboAndClearInput()"></ion-input>
            </ion-item>
            <ion-item *ngIf="addEmails?.length !== 0" class="email">
              <ion-list>
                <div *ngFor="let email of addEmails">
                  <ion-item class="email">
                    <ion-label class="emails">{{ email }}</ion-label>
                  </ion-item>
                </div>
              </ion-list>
            </ion-item>
          </ion-list>
        <ion-button mode="ios" color="primary">Create</ion-button>
      </form> -->
    </ng-template>
  </div>
</div>
